/*----------------------------------------------------------------------------人文z-index:3--*/
.zy_people{
    position:relative;
    z-index:3;
    font-size: 0;

}
.zy_humanity_heading{
    font-size:0;
    background: url(../../images/apps/slogan_humanity.png) no-repeat;
    background-size:contain;
    width: 600px;
    height: 300px;
    position:absolute;
    top:200px;
    left:50%;
    transform: translateX(-50%);
    z-index:1;
}
.humanity_heading{
  width: 212px;
  height: 85px;
  background: url(../../images/apps/title_humanity.png) no-repeat;
  position: relative;
  top:100px;
  margin: 0 auto;
}

.zy_people .zy_subheading{
    font-size: 0;
}
.zy_people_list{
    height: 450px;
    top:180px;
}

.zy_people_contain{
  width: 100%;
  height: 800px;
  background: #FFFFFF url(../../images/default_bg/bg_humanity.jpg) no-repeat;
  background-size:100%100%;
}
