@charset "utf-8";

body{
    font-family: "宋体","Microsoft YaHei","Heiti SC";
    margin: 0;
    min-width: 730px;
   /* overflow-x:hidden;*/
}

/*所有开始不显示的类*/
.zy_hidden,.zy_disable{
    display: none;
}
.hasVideo:before{
    content:"";
    background: url(../../images/apps/sprite.png) no-repeat -886px -621px;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0px;
    top:0px;
}
.zy_touch_hscroll{
    overflow:auto !important;
    overflow-x:scroll !important;
    overflow-y:hidden !important;
    -webkit-overflow-scrolling: touch;
}
img{border:none;}
a{
    text-decoration: none;
}
/*背景固定*/
.zy_bg_fixed {
	position: fixed !important;
	top: 90px;
	left: 0;
}

/*--音乐播放器,z-index：100--*/
.zy_music_section{
    position:fixed;
    top:20px;
    right: 20px;
    height: 50px;
    width: 50px;/*初始值为右边显示按钮的宽度*/
    z-index: 100;
}
.zy_player{
    margin-right: 50px;
    height: 100%;
    background: #fff;
    position: relative;
    /*-webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    transition: 2s ease;*/
}
.zy_music_title{
    font-family: "微软雅黑";
    text-align:center;
    font-size: 14px;
    margin: 0px;
    color:#888;
    display: inline-block;
    height: 100%;
    line-height: 50px;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	padding:0 10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
.zy_music_controller{
    width: 210px;
    height: 100%;
    position: absolute;
    top:0px;
    right: 4px;
    text-align: center;
    line-height: 50px;
}
.zy_music_controller a{
    display: inline-block;
    height: 50px;
    width: 50px;
    font-size: 0px;
    cursor: pointer;
    vertical-align: top;
    float: left;
}
a.zy_music_prev{
    width: 80px;
    background: url(../../images/apps/sprite.png) no-repeat -306px -1986px;
}
.zy_music_play{
    background: url(../../images/apps/sprite.png) no-repeat -1124px -787px;
}
.zy_music_pause{
    background: url(../../images/apps/sprite.png) no-repeat -1020px -787px;
}
a.zy_music_next{
    width: 80px;
    background: url(../../images/apps/sprite.png) no-repeat -886px -703px;
}
.zy_music_prev:hover{
    background: url(../../images/apps/sprite.png) no-repeat -388px -1986px;
}
.zy_music_play:hover{
    background: url(../../images/apps/sprite.png) no-repeat -1176px -787px;
}
.zy_music_pause:hover{
    background: url(../../images/apps/sprite.png) no-repeat -1072px -787px;
}
.zy_music_next:hover{
    background: url(../../images/apps/sprite.png) no-repeat -886px -755px;
}
.zy_separate_left{
    display: block;
    height: 14px;
    position: absolute;
    margin-top: 18px;
    top:0px;
    left: 235px;
    font-size: 0px;
    width: 1px;
    background: #ccc;
}
.zy_separate_right{
    display: block;
    height: 14px;
    position: absolute;
    margin-top: 18px;
    top:0px;
    right: 0px;
    font-size: 0px;
    width: 1px;
    background: #ccc;
}
.zy_music_show{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 0px;
    bottom:0px;
    right: 0px;
    background: url(../../images/apps/sprite.png) no-repeat -938px -839px;
    cursor:pointer;
}
.zy_music_show.zy_music_show_active{
    background: url(../../images/apps/music_entrance.gif) no-repeat;
}
.zy_music_timeline{
    width: 0%;
    background:#fff;
    height:4px;
    position: absolute;
    bottom: 0px;
    font-size: 0px;
}

.zy_main_wrapper{
    overflow: hidden;
}

/*--logo--*/
.zy_top_post{
    position:relative;
    width:100%;
    overflow:hidden;
    z-index:5;
}
.zy_top_post_poster{
    width: 100%;
    font-size:0;
    height:720px;
    position:relative;
    background:#ccc;
    overflow: hidden;
}
.zy_logo{
    width: 405px;
    height: 275px;
    background: url(../../images/apps/sprite.png) no-repeat -596px -349px;
    font-size: 0px;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -137.5px 0px 0px -202.5px;
}
.zy_dropdown{
    position: absolute;
    cursor: pointer;
    color: white;
    width: 50px;
    height: 50px;
    top:600px;
    left: 50%;
    margin-left: -25px;
    z-index: 9;
    font-size: 0px;
    background: url(../../images/apps/sprite.png) no-repeat -1198px -839px;
}

/*--菜单栏--*/
.zy_nav{
    height: 50px;
    width: 50px;
    position: fixed;
    top:20px;
    left: 20px;
    z-index: 100;
}
.zy_show_menu{
    color: white;
    display: inline-block;
    font-size: 0px;
    background: url(../../images/apps/sprite.png) no-repeat -886px -859px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
}
.zy_show_menu:hover,.zy_show_menu_active{
    background: url(../../images/apps/sprite.png) no-repeat -990px -839px;
    cursor: pointer;
}
.zy_nav ul{
    text-align: center;
    padding:0px;
    height: 100%;
    margin:0px 0px 0px 50px;
    background: #fff;
}
.zy_nav ul li{
    display: inline-block;
    width: 25%;
    list-style: none;
    height: 100%;
    float: left;
}
.zy_nav ul li a{
    font-family: "黑体";
    display: inline-block;
    width: 99px;
    height: 100%;
    line-height: 50px;
    font-size: 16px;
    color:#888;
}
.zy_nav .zy_menu_separate{
    display: inline-block;
    width: 1px;
    background: #ccc;
    height: 14px;
    font-size: 0px;
    vertical-align: middle;
    margin-top: -1px;
}
.zy_nav ul li a:hover,.zy_nav ul li a.active{
    color:#000;
}


/*--推荐文章z-index:5--*/
.zy_featured{
    width: 100%;
    height: 800px;
    background: url(../../images/default_bg/bg_featured.jpg) no-repeat;
    background-size: 100% 100%;
    padding-top: 30px;
    position:relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    z-index:5;
    overflow: hidden;
}
.zy_featured_left{
    width: 330px;
    height: 650px;
    background: url(../../images/apps/sprite.png) no-repeat -264px -2px;
    position: absolute;
    left: -120px;
    bottom:-100px;
}
.zy_featured_heading{
    width: 370px;
    background:url(../../images/apps/sprite.png) no-repeat -1008px -321px;
    height:150px;
    margin: 0 auto;
    color: #ff3300;
    font-size: 0;
    text-indent:-9999px;
    position: relative;
    top:30px;
}
.zy_featured_right{
    width: 385px;
    height: 700px;
    background: url(../../images/apps/sprite.png) no-repeat -2px -1284px;
    position: absolute;
    right:-190px;
    bottom: -100px;
}
.zy_featured_articles{
    margin:50px 0;
    padding:10px 0;
    text-align:center;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
}
.zy_featured_articles li{
    display:inline;
    list-style:none;
}
.zy_featured_articles .abstract{
    display:inline-block;
    margin:0 1%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    width:20%;
    height:460px;
    background:#fff;
    cursor:pointer;
    position:relative;
    vertical-align: top;
    box-shadow: 0px 0px 5px #444;
    -webkit-box-shadow: 0px 0px 5px #444;
    -moz-box-shadow: 0px 0px 5px #444;
    -ms-box-shadow: 0px 0px 5px #444;
}
.zy_featured_articles li .thumb img{
    width:100%;
}
.zy_featured_articles li .title{
    font-family: "Microsoft YaHei";
    width:100%;
    font-size:24px;
    overflow:hidden;
    font-weight: bold;
    color:#333;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding:20px;
    box-sizing: border-box;
}
.zy_featured_articles li .excerpt{
    text-align: left;
    color:#666;
    height: 6em;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5em;
    margin: 10px 20px;
    padding-top: 20px;
    border-top:1px solid #ccc;
}

/*-----------------------------------------------------印象、物语、小结统一的副标题z-index:12--*/
/*主题背景*/
.zy_section_bg{
    height:720px;
    overflow:hidden;
    font-size:0;
    width:100%;
    position:relative;
	z-index:1;
}
.zy_theme_bg_content{
	position:absolute;
	top:0;
	min-width: 100%;
	min-height: 720px;
	opacity:0;
	-webkit-transition:opacity 1s;
	-moz-transition:opacity 1s;
	-ms-transition:opacity 1s;
	transition:opacity 1s;
	}
.zy_theme_bg_default{
	opacity:1;
	}
/*向前向后两个按钮*/
.zy_contain_prev,.zy_contain_next{
    position: absolute;
    width: 50px;
    height: 50px;
    top:50%;
    margin-top:50px;
    z-index: 1;
    font-size:0;
    text-indent:-9999px;
    cursor:pointer;
    opacity: 0;
    -webkit-transition:opacity 0.4s ease-out;
    -moz-transition:opacity 0.4s ease-out;
    -ms-transition:opacity 0.4s ease-out;
    transition:opacity 0.4s ease-out;
}
.zy_contain_prev{
    background: url(../../images/apps/sprite.png) no-repeat -1094px -839px;
    left:0;
}
.zy_contain_next{
    background: url(../../images/apps/sprite.png) no-repeat -968px -787px;
    right: 0;
}
.zy_contain_prev:hover{
    background: url(../../images/apps/sprite.png) no-repeat -1146px -839px;
}
.zy_contain_next:hover{
    background: url(../../images/apps/sprite.png) no-repeat -886px -807px;
}
/*水平滑动窗口布局容器*/
.zy_list_container{
    position: relative;
    margin: auto;
    height: 500px;
    overflow: hidden;
    /*border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;*/
}

/*-------------------------------------------------------------------------风景z-index:4--*/
.zy_landscape{
    position:relative;
    z-index:4;
}
/*--z-index:1--*/
.zy_landscape_heading{
    font-size:0;
    background:url(../../images/apps/sprite.png) no-repeat -1270px -783px;
    width:730px;
    height:175px;
    position:absolute;
    top:270px;
    left:50%;
    margin-left:-365px;
    z-index:1;
}
.zy_landscape_left{
    width: 620px;
    height: 470px;
    background: url(../../images/apps/sprite.png) no-repeat -264px -654px;
    position: absolute;
    left:0px;
    bottom: -200px;
}
.zy_landscape_right{
    min-width: 1280px;
    width: 100%;
    height: 595px;
    background: url(../../images/apps/landscape_right.png) no-repeat center right;
    position: absolute;
    left:0px;
    bottom: -200px;
}
.zy_landscape .zy_subheading{
    background: url(../../images/apps/sprite.png) no-repeat -264px -1126px;
    width: 385px;
    height: 155px;
    font-size: 0px;
    margin: 30px auto;
}
.zy_landscape_contain{
    width: 100%;
    height:800px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    background-image: url(../../images/default_bg/bg_artifact.jpg);
    background-size: 100% 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
	z-index:8;
}
.zy_landscape_contain .zy_contain_prev,.zy_landscape_contain .zy_contain_next{
    margin-top: -50px;
}
.zy_landscape_contain>.zy_list_container{
    height: 600px;
}

.zy_landscape_list,.zy_people_list,.zy_artifact_list,.zy_community_list{
    margin:0;
    height:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    font-size:0;
    position: absolute;
    left: 0;
    padding:20px 0px;
}
.zy_landscape_article,.zy_artifact_article{
    display: inline-block;
    width: 300px;
    height: 300px;
    white-space: normal;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    margin:0 10px;
    position:relative;
    overflow:hidden;
    cursor:pointer;
}
.zy_landscape_article>.zy_article_thumb,.zy_artifact_article>.zy_article_thumb{
    width:300px;
    height:300px;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
}
.zy_landscape_article>.zy_article_thumb img,.zy_artifact_article>.zy_article_thumb img{
    width:100%;
}
.zy_landscape_article>.zy_article_abstract,.zy_artifact_article>.zy_article_abstract{
    width:100%;
    height:300px;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    padding:20px 20px 30px 20px;
    background:#fff;
    opacity: .95;
    position:absolute;
    top:300px;
    left:0;
    -webkit-transition:all 0.4s ease-out;
    -moz-transition:all 0.4s ease-out;
    -ms-transition:all 0.4s ease-out;
    transition:all 0.4s ease-out;
}
.zy_landscape_article:hover>.zy_article_abstract,.zy_artifact_article:hover>.zy_article_abstract{
    top:0;
}
.zy_landscape_article>.zy_article_abstract h2,.zy_artifact_article>.zy_article_abstract h2{
    font-family: "Microsoft YaHei";
    font-size:24px;
    text-align:center;
    color:#333;
    font-weight: bold;
}
.zy_landscape_article>.zy_article_abstract p,.zy_artifact_article>.zy_article_abstract p{
    font-size:14px;
    line-height:2em;
    margin:auto;
    color:#333;
    width:260px;
    height: 10em;
    overflow: hidden;
}
.zy_landscape_article>.zy_article_abstract p.zy_article_date,.zy_artifact_article>.zy_article_abstract p.zy_article_date{
    font-size:12px;
    border-top:#333 1px solid;
    padding-top:8px;
    position:static;
    text-align:center;
    width:260px;
    margin:auto;
    display:block;
    color:#000;
    height: auto;
}


/*----------------------------------------------------------------------------人文z-index:3--*/
.zy_people{
    position:relative;
    z-index:3;

}
.zy_people_left{
    width: 260px;
    height: 1280px;
    background: url(../../images/apps/sprite.png) no-repeat -2px -2px;
    position: absolute;
    left:0px;
    bottom: -600px;
}
.zy_people_top{
    min-width:1280px;
    width:100%;
    height: 500px;
    background: url(../../images/apps/humanity_top.png) no-repeat center center;
    position: absolute;
    top: -180px;
    left:0px;
}
.zy_people_right{
    min-width: 1280px;
    width: 100%;
    height: 420px;
    background: url(../../images/apps/humanity_right.png) no-repeat center right;
    position: absolute;
    left:0px;
    bottom: -380px;
}
/*--z-index:1--*/
.zy_people_heading{
    font-size:0;
    text-indent:-9999px;
    background:url(../../images/apps/sprite.png) no-repeat -965px -204px;
    width:555px;
    height:115px;
    position:absolute;
    top:300px;
    left:50%;
    margin-left:-277.5px;
    z-index:1;
}
.zy_people .zy_subheading{
    background: url(../../images/apps/sprite.png) no-repeat -968px -635px;
    width: 300px;
    height: 150px;
    font-size: 0px;
    margin: 30px auto;
    position: relative;
}


/*---------人文和社区共用部分--------*/
.zy_people_contain,.zy_community_contain{
    width: 100%;
    height: 800px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    background: url(../../images/default_bg/bg_humanity.jpg) no-repeat;
    background-size: 100% 100%;
    /* margin-top: 360px;*/
    white-space: nowrap;
    overflow: hidden;
    position: relative;
	z-index:8;
    padding: 5px 5px 10px 5px;
}
.zy_people_article,.zy_community_article{
    display: inline-block;
    width: 240px;
    height: 100%;
    white-space: normal;
    border-right:#666 1px solid;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 20px;
    position:relative;
    cursor:pointer;
}
.zy_people_article>.zy_article_thumb,.zy_community_article>.zy_article_thumb{
    width:200px;
    height:200px;
    overflow:hidden;
    position:absolute;
    top:0;
}
.zy_people_article>.zy_article_thumb img,.zy_community_article>.zy_article_thumb img{
    width:100%;
}
.zy_people_article>.zy_article_abstract,.zy_community_article>.zy_article_abstract{
    width:200px;
    height:240px;
    text-align:center;
    position:absolute;
    bottom:0;
    overflow:hidden;
    color:#666;
}
.zy_people_article>.zy_article_abstract h2,.zy_community_article>.zy_article_abstract h2{
    font-family: "Microsoft YaHei";
    font-size:24px;
    color:#b4a797;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.zy_people_article>.zy_article_abstract p,.zy_community_article>.zy_article_abstract p{
    font-size:12px;
    line-height:2em;
    margin:5px 0;
    color:#b4a797;
    height: 96px;
    overflow: hidden;
}
.zy_people_article>.zy_article_abstract p.zy_article_date,.zy_community_article>.zy_article_abstract p.zy_article_date{
    font-size:12px;
    border-top:#666 1px solid;
    padding-top:8px;
    height: auto;
}
.zy_people_article:nth-child(2n)>.zy_article_thumb,.zy_community_article:nth-child(2n)>.zy_article_thumb{
    bottom:0;
    top:auto;
}
.zy_people_article:nth-child(2n)>.zy_article_abstract,.zy_community_article:nth-child(2n)>.zy_article_abstract{
    top:0;
    height:240px;
}

/*------------------------------------------------------------------------物语z-index:2--*/
.zy_artifact{
    position:relative;
    z-index:2;
}
/*--z-index:1--*/
.zy_artifact_heading{
    font-size:0;
    text-indent:-9999px;
    background:url(../../images/apps/sprite.png) no-repeat -1355px -568px;
    width:685px;
    height:180px;
    position:absolute;
    top:260px;
    left:50%;
    margin-left:-342.5px;
    z-index:1;
}
.zy_artifact_left{
    width: 125px;
    height: 345px;
    background: url(../../images/apps/sprite.png) no-repeat -596px -2px;
    position: absolute;
    left:100px;
    top: 150px;
}
.zy_artifact_bottom{
    width: 505px;
    height: 190px;
    background: url(../../images/apps/sprite.png) no-repeat -1522px -204px;
    position: absolute;
    left:50%;
    margin-left: -252.5px;
    bottom: -60px;
}
.zy_artifact .zy_subheading{
    background: url(../../images/apps/sprite.png) no-repeat -1707px -2px;
    width: 320px;
    height: 160px;
    font-size: 0px;
    margin: 30px auto;
}
.zy_artifact_contain>.zy_list_container{
    height: 440px;
}
.zy_artifact_contain{
    width: 100%;
    height: 800px;
    padding:20px ;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    background: url(../../images/default_bg/bg_artifact.jpg) no-repeat;
    background-size: 100% 100%;
    /* margin-top: 360px;*/
    white-space: nowrap;
    overflow: hidden;
    position: relative;
	z-index:8;
}
.zy_artifact_contain .zy_contain_prev,.zy_artifact_contain .zy_contain_next{
    margin-top: -10px;
}



/*-----------------------------------------------------------------------------社区z-index:1--*/
.zy_community{
    position:relative;
    z-index:1;
}
.zy_community_contain{
    height: 1100px;
    background: url(../../images/default_bg/bg_community.jpg) no-repeat;
    background-size: 100% 100%;
}
/*--z-index:1--*/
.zy_community_heading{
    font-size:0;
    text-indent:-9999px;
    background:url(../../images/apps/sprite.png) no-repeat -1380px -396px;
    width:635px;
    height:170px;
    position:absolute;
    top:275px;
    left:50%;
    margin-left:-317.5px;
    z-index:1;
}
.zy_community_bottom{
    min-width: 1280px;
    width:100%;
    height: 685px;
    background: url(../../images/apps/community_bottom.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left:0px;
    bottom: -200px;
}
.zy_community .zy_subheading{
    background: url(../../images/apps/sprite.png) no-repeat -1008px -473px;
    width: 345px;
    height: 160px;
    font-size: 0px;
    margin: 30px auto;
}
.zy_community_contain .zy_contain_next,.zy_community_contain .zy_contain_prev{
    top:35%;
}


/*------------------------------------footer部分--------------------------*/
.zy_footer{
    width: 100%;
    background-color: #fff;
    position: relative;
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

.zy_project{
    height: auto;
    padding:100px 0px 50px 0px;
    background: url(../../images/default_bg/bg_backgroud.jpg) no-repeat;
    background-size: 100% 100%;
}
.zy_project_info{
	width:40%;
	position:relative;
	padding:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
    display: inline-block;
    vertical-align: top;
}
.zy_project_title{
	height:40px;
    width: 140px;
	font-size:0;
	text-indent:-9999px;
	background:url(../../images/apps/sprite.png) no-repeat -1380px -321px;
	margin:auto;
}
.zy_project_info p{
    color: #e6e6e6;
    font-size: 14px;
    line-height: 2em;
}
.zy_project_sponsors{
	margin:0px 5% 0px 0px;
	padding-left:10%;
    width: 35%;
    display: inline-block;
    position: relative;
}
.zy_bottom_logo{
    width: 100%;
    margin: 10px auto 10px auto;
}
.zy_bottom_logo a{
    width:340px;
    height: 200px;
    background: url(../../images/apps/sprite.png) no-repeat -1365px -2px;
    display: block;
    margin:auto;
    font-size: 0px;
}
.zy_project_sponsors ul{
    margin: auto;
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 0px;
}
.zy_project_sponsors ul li{
    display: inline-block;
	padding:0 20px;
}
.zy_project_sponsors ul li:first-child{
    border-right:1px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.zy_project_sponsors .zy_logo_mkmj,.zy_project_sponsors .zy_logo_hnusd{
	width:150px;
	height:53px;
	font-size:0;
	text-indent:-9999px;
	margin:auto;
	display:block;
}
.zy_project_sponsors .zy_logo_mkmj{
    background:url(../../images/apps/sprite.png) no-repeat -2px -1986px;
}
.zy_project_sponsors .zy_logo_hnusd{
	background:url(../../images/apps/sprite.png) no-repeat -154px -1986px;
}
.zy_copyright{
    background: url(../../images/default_bg/bg_backgroud.jpg) no-repeat;
    background-size: 100% auto;
	padding:50px 0;
	text-align:center;
	color:#666;
	font-size:0.7em;
	}
.zy_app_download{
	background:#333;
	text-align:center;
	padding:150px 0 50px 0;
	}
.zy_app_download>h2{
	font-size:2em;
	font-weight:bold;
	position:relative;
	margin:0;
	color:#b3b3b3;
	font-weight:normal;	
}
.zy_app_download>h3{
	font-size:3em;
	font-weight:bold;
	margin:0 auto;
	padding-bottom:20px;
	color:#b3b3b3;
	border-bottom:#b3b3b3 1px solid;
	width:600px;
	}
.zy_app_download_list{
	margin:0;
	padding:0;
	}
.zy_app_download_list li{
	list-style:none;
	display:inline-block;
	}
.zy_app_download_list li a{
	font-size:0;
	width:72px;
	height:72px;
	display:inline-block;
	text-indent:-9999px;
	}
.zy_app_download_list li a:hover{
	opacity:0.5;
	}
.zy_app_download_list .zy_android_phone_app{
	background:url(../../images/apps/sprite.png) no-repeat -1270px -635px;
	}
.zy_app_download_list .zy_android_pad_app{
	background:url(../../images/apps/sprite.png) no-repeat -1270px -709px;
}

/*-----------------------------------------------------------显示视频(从这里开始很多项目共用）----------*/
.zy_wrap{
    position:fixed;
    top:0;
    left: 0;
	width:100%;
	height:100%;
    background: #000;
    opacity: .7;
    z-index: 9996;
}
.zy_show_section{	
	z-index: 9999;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
}
.zy_show_close{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
	cursor:pointer;
    background: url(../../images/apps/sprite.png) no-repeat -938px -891px;
}
.zy_show_close:hover{
    background: url(../../images/apps/sprite.png) no-repeat -886px -911px;
}

/*--------------显示文章z-index:9997--------------*/
.zy_article_container{
	position: fixed;
    left:100%;
	top:0;
    z-index: 9997;
    width: 100%;
    height:100%;
    margin: auto;
}
/*popout_win*/
.zy_popout_win{
	width:640px;
	height:200px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	background:url(../../images/apps/sprite.png) no-repeat -723px -2px;
	padding:20px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-100px 0 0 -320px;
	z-index:10001;
	text-align:center;	
	overflow:hidden;
	}
.zy_popout_win>.zy_popout_title{
	color:#fff;
	}
.zy_popout_win>.zy_popout_btn{
	background:#fff;
	padding:8px;
	width:120px;
	display:block;
	position:absolute;
	bottom:30px;
	left:50%;	
	margin-left:-60px;
	color:#ca2e3a;
	font-weight:bold;
	cursor:pointer;
	}
.zy_popout_win>.zy_popout_btn:hover{
	background:#1a1a1a;
	}

/*---------------------loadingSpinner-------------------*/
/*动画定义*/
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(360deg);
    }
    100%{
        -webkit-transform:rotate(0deg);
    }
}
@-moz-keyframes spin{
    0%{
        -moz-transform:rotate(360deg);
    }
    100%{
        -moz-transform:rotate(0deg);
    }
}
@keyframes spin{
    0%{
        transform:rotate(360deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

.zy_loading_spinner{
	position:absolute;
	top:50%;
	left:50%;
}
.zy_loading_spinner_layer{
    width: 50px;
    height: 50px;
    background: url(../../images/apps/sprite.png) no-repeat -1042px -839px;
    -webkit-animation: spin 4s infinite linear reverse;
    -moz-animation: spin 4s infinite linear reverse;
    animation: spin 4s infinite linear reverse;
    position:absolute;
    top:50%;
    left:50%;
    margin:-25px 0 0 -25px;
}
.zy_article_content{
    background: #fff;
    width: 100%;
    position:absolute;
	top:50px;
	bottom:0;
    overflow-x: auto;
	overflow-y:hidden;
	padding:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
/* 设置滚动条的样式 */
.zy_article_content::-webkit-scrollbar {
    height: 8px;
}
/* 滚动槽 */
.zy_article_content::-webkit-scrollbar-track {
    background:#1a1a1a;
}
/* 滚动条滑块 */
.zy_article_content::-webkit-scrollbar-thumb {
    background: #ca2e3a;
}
.zy_article_content_close{
	cursor:pointer;
    width: 50px;
    height: 50px;
    display: block;
    background: url(../../images/apps/sprite.png) no-repeat -990px -891px;
}
.zy_article_content_close:hover{
    background: url(../../images/apps/sprite.png) no-repeat -1042px -891px;
}
.zy_show_load_container{
	width:100%;
	text-align:center;
	position: absolute;
	top: 50px;
	bottom: 0;
	overflow-y: auto;
	}
/* 设置滚动条的样式 */
.zy_show_load_container::-webkit-scrollbar {
    width: 8px;
}
/* 滚动槽 */
.zy_show_load_container::-webkit-scrollbar-track {
    background:#1a1a1a;
}
/* 滚动条滑块 */
.zy_show_load_container::-webkit-scrollbar-thumb {
    background: #ca2e3a;
}
.zy_show_load_container img{
	margin:auto;
	max-width:100%;
	}
.zy_show_load_container video{max-width:100%;margin:auto;}

/*图文混排展示模版*/
.article-main-post{
    -webkit-box-sizing:	border-box;
    -ms-box-sizing:	border-box;
    -moz-box-sizing:border-box;
    box-sizing:	border-box;
    height:100%;
    position:relative;
    top:0;
    bottom:0;
    width:100%;
}
.article-head-post{
    position:absolute;
    bottom:0;
    left:250px;
    z-index:3;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
    box-sizing:border-box;
    padding:20px;
    background:#fff;
    width:300px;
}
.article-head-post h1{
    padding:0;
	margin:0;
    font-family: "Microsoft YaHei";
}
.article-title-post{
    font-size:36px;
    color:#666;
    width:auto;
    padding-left:25px;
    padding-right:25px;
    padding-top:15px;
}
.article-author-post, .article-category-post,.article-time-post{
    color:#666;
    font-size:16px;
    font-weight:normal;
    display:inline-block;
}
.article-author-post{
    padding-right:10px;
}
.article-category-post{
    padding:0 10px;
    border-left:#666 1px solid;
}
.article-time-post{
    padding:0 10px;
    border-left:#666 1px solid;
}
.article-poster-post{
    /*position:absolute;
     left:0;
     top:0;
     bottom:0;*/
    height:100%;
    font-size:0;
}
.article-poster-post img{
    height:100%;
}

.article-content-post{
    background:#fff;
    color: #666666;
    font-size:16px;
    position:absolute;
    top:0;
    left:540px;
    right:0px;
    width:100%;
    bottom:150px;
    height: 100%;
    padding:0 0 20px 40px;
    -webkit-column-gap:40px;
    -webkit-column-width:260px;
    -moz-column-gap:40px;
    -moz-column-width:260px;
    column-gap:40px;
    column-width:260px;
    line-height:2em;
    letter-spacing:2px;
    z-index:10;

}
.article-content-post::first-letter{
    display:inline-block;
    font-size:32px;
    color:#ca2e3a;
}
.article-content-post img{
    width:100%;
}
.article-content-post p{
	margin:0 10px;
	}
.article-content-post figcaption{
	color:#ca2e3a;
	font-size:12px;
	font-style:italic;
	line-height:1.4em;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
    text-align: center;
	}
.videoslide{
    text-indent:0;
    display:inline-block;
    position:relative;
	max-width:100%;
}
.videoslide:before
{
    content:"";
    background:url(../../images/apps/sprite.png) no-repeat  -886px -621px;
    width:80px;
    height:80px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-40px 0 0 -40px;
}

/*幻灯片模版展示*/
.article-main-slide{
    background:#fff;
    height:540px;
    position:relative;
}
.article-main-slide p{
    font-size:14px;

}
.article-title-slide{
    color:#666;
    width:300px;
    font-size:36px;
    margin-top:0;
	font-family:"微软雅黑";
}

.article-author-slide, .article-category-slide{
    color:#666;
    width:300px;
    line-height:10px;
    font-size:16px;
    font-weight:normal;
}
.article-author-slide{
    border-bottom:#666 1px solid;
    padding-bottom:10px;
    margin-bottom:10px;
}
.article-abstract-slide{
    margin-top:2em;
    font-size:18px;
    color:#666;
    width:300px;
    line-height:1.5em;
}
.article-abstract-slide::first-letter{
    display:inline-block;
    font-size:32px;
    color:#ca2e3a;
}
.allslides-slide{
    display:block;
    position:absolute;
    left:360px;
    top:0;
    height:540px;
    width:auto;
    white-space: nowrap;
}
.slide-slide{
    display: inline-block;
    height:100%;
    position:relative;
}
.slide-slide img{
    height:100%;
    width:auto;
}
.slide-slide a{
    display:inline-block;
    height:100%;
}
.imgcaption-slide{
    background-color:#000;
    width:100%;
    opacity: 0.7;
    position:absolute;
    bottom:0;
    left:0;
    color:#fff;
    font-size:16px;
    line-height: 24px;
    padding:10px;
	white-space: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;	
	box-sizing: border-box;
}
.imgcaption-slide span{
    font-size: 21px;
}

/*-------------------响应式-------------------------*/
@media screen and (max-width: 1100px) {
    .zy_project_sponsors li{
        padding:5px 0px 5px 0px;
    }
    .zy_project_sponsors ul li:first-child{
        border-bottom:1px solid #444;
        border-right: none;
    }
    .zy_bottom_logo a{
        width:240px;
        height: 140px;
        background: url(../../images/apps/sprite.png) no-repeat -723px -204px;
    }
    .zy_nav ul{
        width:100%;
    }
    .zy_featured_articles li .excerpt{
        height: 126px;
    }
}
@media screen and (min-width: 1900px) {
    .zy_featured_articles li .excerpt{
        display: none;
    }   
}

@media screen and (min-width: 2150px) {
    .zy_featured_articles li .title{
        display: none;
    }
}
