/*------------------------------------footer部分--------------------------*/
.zy_footer{
    width: 100%;
    background-color: #fff;
    position: relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

.zy_project{
    height: auto;
    padding:100px 0px 50px 0px;
    background: #112433;
    background-size: 100% 100%;
}
.zy_project_info{
    width:40%;
    position:relative;
    padding:0px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    display: inline-block;
    vertical-align: top;
}

.zy_project_info p{
    color: #e6e6e6;
    font-size: 14px;
    line-height: 2em;
    opacity: .7;
}
.zy_project_sponsors{
    margin:0 5% 0px 0px;
    padding-left:10%;
    width: 35%;
    display: inline-block;
    position: relative;
    opacity: .7;
}
.zy_bottom_logo{
    width: 100%;
    margin: 10px auto 10px auto;
}
.zy_bottom_logo a{
    width:100%;
    height: 150px;
    background: url(../../images/apps/logo.png) no-repeat center;
    background-size: contain;
    display: block;
    margin:auto;
    font-size: 0px;
}
.zy_project_sponsors ul{
    margin: auto;
    text-align: center;
    padding: 5px 0px;
    font-size: 0px;
    width: 100%;
    white-space: nowrap;
}
.zy_project_sponsors li{
    padding:0 10px;
}
.zy_project_sponsors ul li{
    display: inline-block;
    box-sizing: border-box;
}
.zy_project_sponsors ul li:first-child{
    border-right:1px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.zy_project_sponsors ul li a{
    width:100%;
    height:50px;
    font-size:0;
    text-indent:-9999px;
    margin:auto;
    display:block;
}
.zy_project_sponsors .zy_logo_mkmj{
    width:50%;
}
.zy_project_sponsors .zy_logo_mkmj a{
    background:url(../../images/apps/meike_logo.png) no-repeat center;
    background-size: contain;
}
.zy_project_sponsors .zy_logo_hnusd{
    width:50%;
}
.zy_project_sponsors .zy_logo_hnusd a{
    background:url(../../images/apps/HNU_logo.png) no-repeat center;
    background-size: contain;
}
.zy_copyright{
    background: #000;
    background-size: 100% auto;
    padding:50px 0;
    text-align:center;
    color:#666;
    font-size:0.7em;
    margin-top:-1px;
}
.zy_app_download{
    background:#333;
    text-align:center;
    padding:150px 0 50px 0;
}
.zy_app_download>h2{
    font-size:2em;
    font-weight:bold;
    position:relative;
    margin:0;
    color:#b3b3b3;
    font-weight:normal;
}
.zy_app_download>h3{
    font-size:3em;
    font-weight:bold;
    margin:0 auto;
    padding-bottom:20px;
    color:#b3b3b3;
    border-bottom:#b3b3b3 1px solid;
    width:600px;
}
.zy_app_download_list{
    margin:0;
    padding:0;
}
.zy_app_download_list li{
    list-style:none;
    display:inline-block;
}
.zy_app_download_list li a{
    font-size:0;
    width:72px;
    height:72px;
    display:inline-block;
    text-indent:-9999px;
}
.zy_app_download_list li a:hover{
    opacity:0.5;
}
.zy_app_download_list .zy_android_phone_app{
    background:url(../../images/apps/sprite.png) no-repeat -1270px -635px;
}
.zy_app_download_list .zy_android_pad_app{
    background:url(../../images/apps/sprite.png) no-repeat -1270px -709px;
}
.zy_project_title{
  font-size: 20px;
  margin: 0 auto;
  color: white;
  position: relative;
}
