.zy_section_four {
    z-index: 1;
}

.zy_section_four .zy_section_bg {
    height: 840px;
}

.zy_section_four .zy_theme_bg_content {
    min-height: 840px;
}

/*--z-index:1--*/
.zy_section_four .zy_section_heading {
    background:url(../../images/apps/section_title_four.png);
    background-size: 100% 100%;
    top:370px;
}

.zy_section_four .zy_section_contain {
    height: 900px;
    background: url(../../images/apps/section_four_bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 300px 5px 10px 5px;
}

.zy_section_four .zy_section_contain .zy_post_list_container .zy_post_list {
    padding: 20px 0;
}
