.zy_section_two {
    z-index: 3;
}

/*--z-index:1--*/
.zy_section_two .zy_section_heading {
    background:url(../../images/apps/section_title_two.png) no-repeat;
    background-size: 100% 100%;
    top:280px;
}

.zy_section_two .zy_section_contain{
    height: 950px;
    background: #fff url(../../images/apps/section_two_bg.png) no-repeat;
    background-size: 100% ;
    padding: 300px 5px 10px 5px;

}

.zy_section_two .zy_section_contain .zy_post_list_container .zy_post_list {
    padding: 20px 0;
}