@charset "utf-8";

body{
    font-family: "Microsoft YaHei","宋体","Heiti SC";
    margin: 0;
    min-width: 730px;
}

/*所有开始不显示的类*/
.zy_hidden,.zy_disable{
    display: none;
}
.hasVideo{
    position: relative;
}
.hasVideo:before{
    content:"";
    background: url(../../images/apps/hasvideo.png) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.zy_touch_hscroll{
    overflow:auto !important;
    overflow-x:scroll !important;
    overflow-y:hidden !important;
    -webkit-overflow-scrolling: touch;
}
img{border:none;}
a{
    text-decoration: none;
}
/*背景固定*/
.zy_bg_fixed {
	position: fixed !important;
	top: 90px;
	left: 0;
}



.zy_main_wrapper{
    overflow: hidden;
}

.zy_btn_down{
    background: url(../../images/apps/down.png) no-repeat;
    background-size: contain;
    width:30px;
    height: 80px;
    margin: auto;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}




/*-----------------------------------------------------印象、物语、小结统一的副标题z-index:12--*/
.zy_subheading{
    font-size:0;
    color:#fff;
    text-align:center;
    font-weight:bold;
    position: absolute;
    z-index: 12;
    height: 68px;
    width: 300px;
    left:50%;
    transform: translateX(-50%);
    line-height: 68px;
    
}
/*主题背景*/

.zy_section_bg{
    height:800px;
    overflow:hidden;
    font-size:0;
    width:100%;
    position:relative;
	z-index:1;
}
.zy_theme_bg_content{
	position:absolute;
	top:0;
	min-width: 100%;
	min-height: 800px;
	opacity:0;
	-webkit-transition:opacity 1s;
	-moz-transition:opacity 1s;
	-ms-transition:opacity 1s;
	transition:opacity 1s;
	}
.zy_theme_bg_default{
	opacity:1;
	}
/*向前向后两个按钮*/
.zy_contain_prev,.zy_contain_next{
    position: absolute;
    width: 50px;
    height: 50px;
    top:50%;
    margin-top:-25px;
    z-index: 1;
    font-size:0;
    text-indent:-9999px;
    cursor:pointer;
    opacity: 0;
    -webkit-transition:opacity 0.4s ease-out;
    -moz-transition:opacity 0.4s ease-out;
    -ms-transition:opacity 0.4s ease-out;
    transition:opacity 0.4s ease-out;
}
.zy_contain_prev{
    background: url(../../images/apps/btn_arrow_left.png) no-repeat;
    left:0;
}
.zy_contain_next{
    background: url(../../images/apps/btn_arrow_right.png) no-repeat;
    right: 0;
}
.zy_contain_prev:hover{
    background: url(../../images/apps/btn_arrow_left_pressed.png) no-repeat;
}
.zy_contain_next:hover{
    background: url(../../images/apps/btn_arrow_right_pressed.png) no-repeat;
}
/*水平滑动窗口布局容器*/
.zy_list_container{
    position: relative;
    margin: auto;
    height: 100%;
    overflow: hidden;
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
}











