@charset "utf-8";

body{
    font-family: "宋体","Microsoft YaHei","Heiti SC";
    margin: 0;
   /* overflow-x:hidden;*/
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
    display: inline-block;
}
img{border:none;}
a{
    text-decoration: none;
}
/*所有开始不显示的类*/
.zy_hidden,.zy_disable{
    display: none;
}
.hasVideo:before{
    content:"";
    background: url(../../images/apps/hasvideo.png) no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0px;
    top:0px;
}
.zy_touch_hscroll{
    overflow:auto !important;
    overflow-x:scroll !important;
    overflow-y:hidden !important;
    -webkit-overflow-scrolling: touch;
}
.zy_noscroll{
    overflow:hidden !important;
}
/*覆盖swiper样式*/
.swiper-pagination-bullet-active{
    background: #25bf9a;
}

/*背景固定*/
.zy_bg_fixed {
	position: fixed !important;
	top: 90px;
	left: 0;
}
.zy_main_wrapper{
    overflow: hidden;
}

/*--logo--*/
.zy_top_post{
    position:relative;
    width:100%;
    overflow:hidden;
    z-index:1;
}
.zy_top_post_poster{
    width: 100%;
    font-size:0;
    height:720px;
    position:relative;
    background:#ccc;
    overflow: hidden;
}

/*--顶部栏--*/
.zy_header{
    height: 60px;
    width: 100%;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 100;
    background: #25bf9a;
}
/**
* logo
*/
.zy_logo{
    float: left;
    height: 100%;
    margin:0 0 0 5%;
}
.zy_logo a{
    font-size: 0px;
    width: 150px;
    height: 100%;
    display: block;
    position: relative;
    
}
.zy_logo a::before{
    content: "";
    width:100%;
    height: 80%;
    background: url(../../images/apps/logo.svg) no-repeat;
    background-size:contain;
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
}
.zy_title_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0;
    width:300px;
    height: 300px;
}
.zy_title_logo::before{
    content: "";
    width:100%;
    height: 100%;
    background: url(../../images/apps/logo_poster.svg) no-repeat center;
    background-size:contain;
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
}
/**
* 菜单栏
*/
.zy_nav{
    height: 60px;
    width: 0;
    position: fixed;
    top:20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background:#333;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    box-sizing: border-box;
}
.zy_show_menu{
    color: white;
    display: inline-block;
    font-size: 0px;
    background: url(../../images/apps/btn_menu_active.svg) no-repeat center;
    background-size: contain;
    width: 100px;
    height: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.zy_nav.active{
    width:400px;
    height: 60px;
    
}
.zy_nav.active .zy_show_menu{
    background: url(../../images/apps/btn_menu_active.svg) no-repeat center;
}

.zy_nav ul{
    text-align: center;
    height: 100%;
    font-size: 0px;
    display: flex;
    width: 100%;
}
.zy_nav ul li{
    flex: 1;
    padding:0px;
    height: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}
.zy_nav ul li.separator{
    margin-right: 100px;
}
.zy_nav ul li a{
    font-family: "黑体";
    display: block;
    height: 100%;
    width:80%;
    margin: auto;
    font-size: 0;
    line-height: 60px;
    color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size:80%;
}
.zy_nav ul li a:hover{
    opacity: .8;
}
.zy_nav ul li a.top_menu_landscape{
    background-image: url(../../images/apps/top_menu_landscape_white.svg);
}
.zy_nav ul li a.top_menu_community{
    background-image: url(../../images/apps/top_menu_community_white.svg);
}
.zy_nav ul li a.top_menu_artifact{
    background-image: url(../../images/apps/top_menu_artifact_white.svg);
}
.zy_nav ul li a.top_menu_humanity{
    background-image: url(../../images/apps/top_menu_humanity_white.svg);
}
.zy_nav ul li a:hover,.zy_nav ul li a.active{
    color:#000;
}
.zy_nav ul li a.top_menu_landscape.active{
    background-image: url(../../images/apps/top_menu_landscape_gray.svg);
    background-color: #fff;
}
.zy_nav ul li a.top_menu_community.active{
    background-image: url(../../images/apps/top_menu_community_gray.svg);
    background-color: #fff;
}
.zy_nav ul li a.top_menu_artifact.active{
    background-image: url(../../images/apps/top_menu_artifact_gray.svg);
    background-color: #fff;
}
.zy_nav ul li a.top_menu_humanity.active{
    background-image: url(../../images/apps/top_menu_humanity_gray.svg);
    background-color: #fff;
}
.zy_nav ul li a:hover,.zy_nav ul li a.active{
    color:#000;
}


/*--推荐文章z-index:5--*/
.zy_featured{
    width: 100%;
    height: 720px;
    background: url(../../images/apps/featured_bg.svg) #fff center no-repeat;
    background-size: contain;
    position:relative;
    box-sizing:border-box;
    z-index:5;
}
.zy_featured::before{
    content: "";
    width: 160px;
    height: 80px;
    background-image: url(../../images/apps/featured_top.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.zy_featured::after{
    content: "";
    width: 100%;
    height: 100px;
    background-image: url(../../images/apps/section_bottom.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    bottom: -80px;
    
}
.zy_featured_heading{
    background-image: url(../../images/apps/title_featured.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
    font-size: 0;
    position: absolute;
    top:20px;
    left: 50%;
    transform: translateX(-50%);
}
.zy_featured_articles{
    font-size: 0;
    text-align:center;
    width:70%;
    margin: auto;
    box-sizing:border-box;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.zy_featured_articles li{
    display:inline-block;
    list-style:none;
    flex:4;
    position: relative;
}
.zy_featured_articles li:first-child{
    flex:3;
}
.zy_featured_articles li:last-child{
    flex:3;
}
.zy_featured_articles .abstract{
    display:inline-block;
    box-sizing:border-box;
    width:100%;
    overflow: hidden;
    background:#fff;
    cursor:pointer;
    vertical-align: top;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.zy_featured_articles li .thumb{
    perspective: 1000px;
    
}
.zy_featured_articles li .thumb img{
    width:100%;
    transform: translateZ(0);
    transition: all 0.3s ease-out;
}
.zy_featured_articles li .info{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    width:100%;
    background:rgba(255,255,255,0.9);
    padding:40px 30px;
    box-sizing: border-box;
    overflow:hidden;
    transition: all 0.3s ease-out;
    opacity: 0;
}
.zy_featured_articles li .title{
    font-family: "Microsoft YaHei";
    font-size:24px;
    font-weight: bold;
    color:#333;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    width: 100%;
    overflow: hidden;
    
/*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
*/
}
.zy_featured_articles li .excerpt{
    text-align: left;
    color:#666;
    height: 6em;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5em;
    margin: 20px 0;
    padding-top: 20px;
    border-top:1px solid #ccc;
}
.zy_featured_articles li:hover .thumb img{
    transform: translateZ(100px);
}
.zy_featured_articles li:hover .info{
    opacity: 1;
}
/*-----------------------------------------------------印象、物语、小结统一的副标题z-index:12--*/
/*主题背景*/
.zy_section_bg{
    height:720px;
    overflow:hidden;
    font-size:0;
    width:100%;
    position:relative;
	z-index:1;
    text-align: center;
}
.zy_theme_bg_content{
	position:absolute;
	top:0;
    left: 50%;
    transform: translateX(-50%);
	min-width: 100%;
	min-height: 720px;
	opacity:0;
	transition:opacity 1s;
	}
.zy_theme_bg_default{
	opacity:1;
	}
/*向前向后两个按钮*/
.zy_contain_prev,.zy_contain_next{
    position: absolute;
    width: 50px;
    height: 50px;
    top:50%;
    margin-top:50px;
    z-index: 1;
    font-size:0;
    text-indent:-9999px;
    cursor:pointer;
    opacity: 0;
    -webkit-transition:opacity 0.4s ease-out;
    -moz-transition:opacity 0.4s ease-out;
    -ms-transition:opacity 0.4s ease-out;
    transition:opacity 0.4s ease-out;
}
.zy_contain_prev{
    background: url(../../images/apps/sprite.png) no-repeat -1094px -839px;
    left:0;
}
.zy_contain_next{
    background: url(../../images/apps/sprite.png) no-repeat -968px -787px;
    right: 0;
}
.zy_contain_prev:hover{
    background: url(../../images/apps/sprite.png) no-repeat -1146px -839px;
}
.zy_contain_next:hover{
    background: url(../../images/apps/sprite.png) no-repeat -886px -807px;
}
/*水平滑动窗口布局容器*/
.zy_list_container{
    position: relative;
    margin: auto;
    width:960px;
    padding: 0 0 60px;
}

/*-------------------------------------------------------------------------风景z-index:4--*/
.zy_landscape{
    position:relative;
    z-index:4;
}
.zy_landscape::after{
    content: "";
    width: 100%;
    height: 100px;
    background-image: url(../../images/apps/section_bottom.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    bottom: -80px;
    
}
/*--z-index:1--*/
.zy_landscape_heading{
    font-size:0;
    background-image: url(../../images/apps/slogan_landscape.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:480px;
    height:320px;
    position:absolute;
    top:200px;
    left:50%;
    transform: translate(-50%,0);
    z-index:1;
}

.zy_landscape .zy_subheading{
    background-image: url(../../images/apps/title_landscape.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 70px;
    font-size: 0px;
    margin: 40px auto 60px;
}
.zy_landscape_contain{
    width: 100%;
    height:720px;
    box-sizing:border-box;
    position: relative;
	z-index:8;
    background: url(../../images/apps/landscape_bg.svg) #fff center no-repeat;
    background-size: contain;
}
.zy_landscape_contain:before{
    content:"";
    width: 100%;
    height: 50px;
    background-image: url(../../images/apps/section_top.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-70px;
}
.zy_landscape_list,.zy_people_list,.zy_artifact_list,.zy_community_list{
    margin:0;
    height:100%;
    width: 100%;
    box-sizing:border-box;
    font-size:0;
}
.zy_landscape_article{
    
    width: 100%;
    white-space: normal;
    box-sizing:border-box;
    position:relative;
    overflow:hidden;
    cursor:pointer;
}
.zy_landscape_article::before{
    content:"";
    display: inline-block;
    width:100%;
    height: 0;
    padding-bottom: 100%;
}
.zy_landscape_article>.zy_article_thumb{
    width:100%;
    height: 100%;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
}
.zy_landscape_article>.zy_article_thumb img{
    width:100%;
}
.zy_landscape_article>.zy_article_abstract{
    width:100%;
    height:100%;
    overflow:hidden;
    box-sizing:border-box;
    padding:20px 20px 30px 20px;
    background:#fff;
    opacity: .95;
    position:absolute;
    top:100%;
    left:0;
    transition:all 0.4s ease-out;
}
.zy_landscape_article:hover>.zy_article_abstract{
    top:0;
}
.zy_landscape_article>.zy_article_abstract h2{
    font-family: "Microsoft YaHei";
    font-size:24px;
    text-align:center;
    color:#333;
    font-weight: bold;
}
.zy_landscape_article>.zy_article_abstract p{
    font-size:14px;
    line-height:2em;
    margin:auto;
    color:#333;
    width:auto;
    height: 6em;
    overflow: hidden;
}
.zy_landscape_article>.zy_article_abstract p.zy_article_date{
    font-size:12px;
    border-top:#333 1px solid;
    padding-top:8px;
    position:static;
    text-align:center;
    width:auto;
    margin:auto;
    display:block;
    color:#000;
    height: auto;
}


/*----------------------------------------------------------------------------人文z-index:3--*/
.zy_people{
    position:relative;
    z-index:3;

}
.zy_people::after{
    content: "";
    width: 100%;
    height: 100px;
    background-image: url(../../images/apps/section_bottom.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    bottom: -80px;
    
}
/*--z-index:1--*/
.zy_people_heading{
    font-size:0;
    background-image: url(../../images/apps/slogan_people.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:480px;
    height:320px;
    position:absolute;
    top:200px;
    left:50%;
    transform: translate(-50%,0);
    z-index:1;
}
.zy_people .zy_subheading{
    background-image: url(../../images/apps/title_people.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position: center;
    width: 300px;
    height: 70px;
    font-size: 0px;
    margin: 40px auto 60px;
}
.zy_people_contain:before{
    content:"";
    width: 100%;
    height: 50px;
    background-image: url(../../images/apps/section_top.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-70px;
}
.zy_people_contain{
    width: 100%;
    height: 720px;
    box-sizing:border-box;
    background: #fff;
    background-size: 100% 100%;
    /* margin-top: 360px;*/
    white-space: nowrap;
    position: relative;
	z-index:8;
}
.zy_people_contain>.zy_list_container{
    height: 400px;
}
.zy_people_article{
    width: 100%;
    height: 100%;
    white-space: normal;
    box-sizing:border-box;
    position:relative;
    cursor:pointer;
}
.zy_people_article>.zy_article_thumb{
    width:200px;
    height: 200px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    overflow:hidden;
}
.zy_people_article>.zy_article_thumb img{
    width:100%;
}
.zy_people_article>.zy_article_abstract{
    width:200px;
    text-align:center;
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    overflow:hidden;
    color:#666;
}
.zy_people_article>.zy_article_abstract h2{
    font-family: "Microsoft YaHei";
    font-size:24px;
    color:#25bf9a;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0;
}
.zy_people_article>.zy_article_abstract p{
    font-size:12px;
    line-height:2em;
    margin:5px 0;
    color:#666;
    max-height: 6em;
    overflow: hidden;
}
.zy_people_article>.zy_article_abstract p.zy_article_date{
    font-size:12px;
    border-top:#ccc 1px solid;
    height: auto;
}
.zy_people_article:nth-child(2n)>.zy_article_thumb{
    bottom:0;
    top:auto;
}
.zy_people_article:nth-child(2n)>.zy_article_abstract{
    top:0;
    bottom:auto;
}

/*------------------------------------------------------------------------物语z-index:2--*/
.zy_artifact{
    position:relative;
    z-index:2;
}
.zy_artifact::after{
    content: "";
    width: 100%;
    height: 100px;
    background-image: url(../../images/apps/section_bottom.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    bottom: -80px;
    
}
/*--z-index:1--*/
.zy_artifact_heading{
    font-size:0;
    background-image: url(../../images/apps/slogan_artifact.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:480px;
    height:320px;
    position:absolute;
    top:200px;
    left:50%;
    transform: translate(-50%,0);
    z-index:1;
}
.zy_artifact .zy_subheading{
    background-image: url(../../images/apps/title_artifact.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 70px;
    font-size: 0px;
    margin: 40px auto 60px;
}
.zy_artifact_contain{
    width: 100%;
    height: 720px;
    box-sizing:border-box;
    background: #fff;
    white-space: nowrap;
    position: relative;
	z-index:8;
    background: url(../../images/apps/artifact_bg.svg) #fff center no-repeat;
    background-size: contain;
}
.zy_artifact_contain:before{
    content:"";
    width: 100%;
    height: 50px;
    background-image: url(../../images/apps/section_top.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-70px;
}
.zy_artifact_contain .zy_contain_prev,.zy_artifact_contain .zy_contain_next{
    margin-top: -10px;
}

.zy_artifact_article{
    
    width: 100%;
    white-space: normal;
    box-sizing:border-box;
    position:relative;
    overflow:hidden;
    cursor:pointer;
}
.zy_artifact_article::before{
    content:"";
    display: inline-block;
    width:100%;
    height: 0;
    padding-bottom: 100%;
}
.zy_artifact_article>.zy_article_thumb{
    width:100%;
    height: 100%;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
}
.zy_artifact_article>.zy_article_thumb img{
    width:100%;
}
.zy_artifact_article>.zy_article_abstract{
    width:100%;
    height:100%;
    overflow:hidden;
    box-sizing:border-box;
    padding:20px 20px 30px 20px;
    background:#fff;
    opacity: .95;
    position:absolute;
    top:100%;
    left:0;
    transition:all 0.4s ease-out;
}
.zy_artifact_article:hover>.zy_article_abstract{
    top:0;
}
.zy_artifact_article>.zy_article_abstract h2{
    font-family: "Microsoft YaHei";
    font-size:24px;
    text-align:center;
    color:#333;
    font-weight: bold;
}
.zy_artifact_article>.zy_article_abstract p{
    font-size:14px;
    line-height:2em;
    margin:auto;
    color:#333;
    width:auto;
    height: 6em;
    overflow: hidden;
}
.zy_artifact_article>.zy_article_abstract p.zy_article_date{
    font-size:12px;
    border-top:#333 1px solid;
    padding-top:8px;
    position:static;
    text-align:center;
    width:auto;
    margin:auto;
    display:block;
    color:#000;
    height: auto;
}

/*-----------------------------------------------------------------------------社区z-index:1--*/
.zy_community{
    position:relative;
    z-index:1;
}
.zy_community_contain{
    background: #fff;
    padding-top: 20px;
    width: 100%;
    height: 720px;
    box-sizing:border-box;
    background: #fff;
    background-size: 100% 100%;
    /* margin-top: 360px;*/
    white-space: nowrap;
    position: relative;
	z-index:8;
}
.zy_community_contain>.zy_list_container{
    height: 400px;
}
/*--z-index:1--*/
.zy_community_heading{
    font-size:0;
    background-image: url(../../images/apps/slogan_community.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:480px;
    height:320px;
    position:absolute;
    top:200px;
    left:50%;
    transform: translate(-50%,0);
    z-index:1;
}
.zy_community .zy_subheading{
    background-image: url(../../images/apps/title_community.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 70px;
    font-size: 0px;
    margin: 40px auto 60px;
}
.zy_community_contain:before{
    content:"";
    width: 100%;
    height: 50px;
    background-image: url(../../images/apps/section_top.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-49px;
}
.zy_community_contain .zy_contain_next,.zy_community_contain .zy_contain_prev{
    top:35%;
}
.zy_community_contain>.zy_list_container{
    height: 400px;
}
.zy_community_article{
    width: 100%;
    height: 100%;
    white-space: normal;
    box-sizing:border-box;
    position:relative;
    cursor:pointer;
}
.zy_community_article>.zy_article_thumb{
    width:200px;
    height: 200px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    overflow:hidden;
}
.zy_community_article>.zy_article_thumb img{
    width:100%;
}
.zy_community_article>.zy_article_abstract{
    width:200px;
    text-align:center;
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    overflow:hidden;
    color:#666;
}
.zy_community_article>.zy_article_abstract h2{
    font-family: "Microsoft YaHei";
    font-size:24px;
    color:#25bf9a;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0;
}
.zy_community_article>.zy_article_abstract p{
    font-size:12px;
    line-height:2em;
    margin:5px 0;
    color:#666;
    max-height: 6em;
    overflow: hidden;
}
.zy_community_article>.zy_article_abstract p.zy_article_date{
    font-size:12px;
    border-top:#ccc 1px solid;
    height: auto;
}
.zy_community_article:nth-child(2n)>.zy_article_thumb{
    bottom:0;
    top:auto;
}
.zy_community_article:nth-child(2n)>.zy_article_abstract{
    top:0;
    bottom:auto;
}

/*------------------------------------footer部分--------------------------*/
.zy_footer{
    width: 100%;
    background-color: #ebebeb;
    position: relative;
	box-sizing:border-box;
}
.zy_footer::before {
    content: "";
    width: 160px;
    height: 80px;
    background-image: url(../../images/apps/featured_top.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
.zy_project{
    height: auto;
    padding:100px 0px 50px 0px;
    background-size: 100% 100%;
    text-align: center;
}
.zy_project_info{
	width:40%;
	position:relative;
	padding:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
    display: inline-block;
    vertical-align: top;
}
.zy_project_title{
	height:70px;
    width: 300px;
	font-size:0;
	text-indent:-9999px;
	background:url(../../images/apps/title_background.svg) no-repeat;
    background-size: contain;
	margin:auto;
}
.zy_project_info p{
    color: #a2a1a1;
    font-size: 14px;
    line-height: 2em;
}
.zy_project_sponsors{
    width: 35%;
    height: 300px;
    display: inline-block;
    position: relative;
    padding-top: 50px;
    background: url(../../images/apps/logo_sponsor.svg) no-repeat center;
    background-size: contain;
    opacity: .8;
}
.zy_project_sponsors ul{
    margin: auto;
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 0px;
}
.zy_project_sponsors ul li{
    display: block;
}
.zy_project_sponsors .zy_logo_mkmj,.zy_project_sponsors .zy_logo_hnusd{
	width:180px;
	height:90px;
    opacity: .5;
	font-size:0;
	text-indent:-9999px;
	margin:auto;
	display:block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.zy_project_sponsors .zy_logo_mkmj{
    background-image: url(../../images/apps/logo_meikemeijia_black.svg);
    
}
.zy_project_sponsors .zy_logo_hnusd{
    background-image: url(../../images/apps/logo_hnusd_black.svg);
    margin-top: 30px;
    width:240px;
}
.zy_copyright{
    background-size: 100% auto;
	padding:50px 0;
	text-align:center;
	color:#666;
	font-size:0.7em;
	}

/*-----------------------------------------------------------显示视频(从这里开始很多项目共用）----------*/
.zy_wrap{
    position:fixed;
    top:0;
    left: 0;
	width:100%;
	height:100%;
    background: #000;
    opacity: .7;
    z-index: 9996;
}
.zy_show_section{	
	z-index: 9999;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
}
.zy_show_close{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
	cursor:pointer;
    background: url(../../images/apps/sprite.png) no-repeat -938px -891px;
}
.zy_show_close:hover{
    background: url(../../images/apps/sprite.png) no-repeat -886px -911px;
}

/*--------------显示文章z-index:9997--------------*/
.zy_article_container{
	position: fixed;
    left:100%;
	top:0;
    z-index: 9997;
    width: 100%;
    height:100%;
    margin: auto;
}
/*popout_win*/
.zy_popout_win{
	width:640px;
	height:200px;
	box-sizing:border-box;
	background:#25bf9a;
	padding:20px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-100px 0 0 -320px;
	z-index:10001;
	text-align:center;	
	overflow:hidden;
	}
.zy_popout_win>.zy_popout_title{
	color:#fff;
	}
.zy_popout_win>.zy_popout_btn{
	background:#fff;
	padding:8px;
	width:120px;
	display:block;
	position:absolute;
	bottom:30px;
	left:50%;	
	margin-left:-60px;
	color:#25bf9a;
	font-weight:bold;
	cursor:pointer;
	}
.zy_popout_win>.zy_popout_btn:hover{
	background:#1a1a1a;
	}

/*---------------------loadingSpinner-------------------*/
/*动画定义*/
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(360deg);
    }
    100%{
        -webkit-transform:rotate(0deg);
    }
}
@-moz-keyframes spin{
    0%{
        -moz-transform:rotate(360deg);
    }
    100%{
        -moz-transform:rotate(0deg);
    }
}
@keyframes spin{
    0%{
        transform:rotate(360deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

.zy_loading_spinner{
	position:absolute;
	top:50%;
	left:50%;
}
.zy_loading_spinner_layer{
    width: 50px;
    height: 50px;
    background: url(../../images/apps/sprite.png) no-repeat -1042px -839px;
    -webkit-animation: spin 4s infinite linear reverse;
    -moz-animation: spin 4s infinite linear reverse;
    animation: spin 4s infinite linear reverse;
    position:absolute;
    top:50%;
    left:50%;
    margin:-25px 0 0 -25px;
}
.zy_article_content{
    background: #fff;
    width: 100%;
    position:absolute;
	top:50px;
	bottom:0;
    overflow-x: auto;
	overflow-y:hidden;
	padding:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
/* 设置滚动条的样式 */
.zy_article_content::-webkit-scrollbar {
/*    height: 4px;*/
}
/* 滚动槽 */
.zy_article_content::-webkit-scrollbar-track {
/*    background:#1a1a1a;*/
}
/* 滚动条滑块 */
.zy_article_content::-webkit-scrollbar-thumb {
/*    background: #25bf9a;*/
}
.zy_article_content_close{
	cursor:pointer;
    width: 50px;
    height: 50px;
    display: block;
    background: url(../../images/apps/sprite.png) no-repeat -990px -891px;
}
.zy_article_content_close:hover{
    background: url(../../images/apps/sprite.png) no-repeat -1042px -891px;
}
.zy_show_load_container{
	width:100%;
	text-align:center;
	position: absolute;
	top: 50px;
	bottom: 0;
	overflow-y: auto;
	}
/* 设置滚动条的样式 */
.zy_show_load_container::-webkit-scrollbar {
    width: 8px;
}
/* 滚动槽 */
.zy_show_load_container::-webkit-scrollbar-track {
    background:#1a1a1a;
}
/* 滚动条滑块 */
.zy_show_load_container::-webkit-scrollbar-thumb {
    background: #25bf9a;
}
.zy_show_load_container img{
	margin:auto;
	max-width:100%;
	}
.zy_show_load_container video{max-width:100%;margin:auto;}

/*图文混排展示模版*/
.article-main-post{
    -webkit-box-sizing:	border-box;
    -ms-box-sizing:	border-box;
    -moz-box-sizing:border-box;
    box-sizing:	border-box;
    height:100%;
    position:relative;
    top:0;
    bottom:0;
    width:100%;
}
.article-head-post{
    position:absolute;
    bottom:0;
    left:250px;
    z-index:3;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
    box-sizing:border-box;
    padding:20px;
    background:#fff;
    width:300px;
}
.article-head-post h1{
    padding:0;
	margin:0;
    font-family: "Microsoft YaHei";
}
.article-title-post{
    font-size:36px;
    color:#666;
    width:auto;
    padding-left:25px;
    padding-right:25px;
    padding-top:15px;
}
.article-author-post, .article-category-post,.article-time-post{
    color:#666;
    font-size:16px;
    font-weight:normal;
    display:inline-block;
}
.article-author-post{
    padding-right:10px;
}
.article-category-post{
    padding:0 10px;
    border-left:#666 1px solid;
}
.article-time-post{
    padding:0 10px;
    border-left:#666 1px solid;
}
.article-poster-post{
    /*position:absolute;
     left:0;
     top:0;
     bottom:0;*/
    height:100%;
    font-size:0;
}
.article-poster-post img{
    height:100%;
}

.article-content-post{
    background:#fff;
    color: #666666;
    font-size:16px;
    position:absolute;
    top:0;
    left:540px;
    right:0px;
    width:100%;
    bottom:150px;
    height: 100%;
    padding:0 0 20px 40px;
    column-gap:40px;
    column-width:260px;
    line-height:2em;
    letter-spacing:2px;
    z-index:10;

}
.article-content-post::first-letter{
    display:inline-block;
    font-size:32px;
    color:#25bf9a;
}
.article-content-post img{
    width:100%;
}
.article-content-post p{
	margin:0 10px;
	}
.article-content-post figcaption{
	color:#25bf9a;
	font-size:12px;
	font-style:italic;
	line-height:1.4em;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
    text-align: center;
	}
.videoslide{
    text-indent:0;
    display:inline-block;
    position:relative;
	max-width:100%;
}
.videoslide:before
{
    content:"";
    background:url(../../images/apps/sprite.png) no-repeat  -886px -621px;
    width:80px;
    height:80px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-40px 0 0 -40px;
}

/*幻灯片模版展示*/
.article-main-slide{
    background:#fff;
    height:100%;
    position:relative;
}
.article-main-slide p{
    font-size:18px;
    line-height: 2em;
}
.article-title-slide{
    color:#666;
    width:300px;
    font-size:36px;
    margin-top:0;
	font-family:"微软雅黑";
}

.article-author-slide, .article-category-slide{
    color:#666;
    width:300px;
    line-height:10px;
    font-size:16px;
    font-weight:normal;
}
.article-author-slide{
    border-bottom:#666 1px solid;
    padding-bottom:10px;
    margin-bottom:10px;
}
.article-abstract-slide{
    margin-top:2em;
    font-size:18px;
    color:#666;
    width:300px;
    line-height:1.5em;
}
.article-abstract-slide::first-letter{
    display:inline-block;
    font-size:32px;
    color:#25bf9a;
}
.allslides-slide{
    display:block;
    position:absolute;
    left:360px;
    top:0;
    height:100%;
    width:auto;
    white-space: nowrap;
}
.slide-slide{
    display: inline-block;
    height:100%;
    position:relative;
}
.slide-slide img{
    height:100%;
    width:auto;
}
.slide-slide a{
    display:inline-block;
    height:100%;
}
.imgcaption-slide{
    background-color:#000;
    width:100%;
    opacity: 0.7;
    position:absolute;
    bottom:0;
    left:0;
    color:#fff;
    font-size:16px;
    line-height: 24px;
    padding:10px;
	white-space: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;	
	box-sizing: border-box;
}
.imgcaption-slide span{
    font-size: 21px;
}

/*-------------------响应式-------------------------*/
@media screen and (min-width: 2150px) {
    .zy_featured_articles li .title{
        display: none;
    }
}
@media screen and (min-width: 1900px) {
    .zy_featured_articles li .excerpt{
        display: none;
    }   
}
@media screen and (max-width: 1100px) {
    .zy_project_sponsors li{
        padding:5px 0px 5px 0px;
    }
    .zy_project_sponsors ul li:first-child{
        border-bottom:1px solid #444;
        border-right: none;
    }
    .zy_bottom_logo a{
        width:240px;
        height: 140px;
        background: url(../../images/apps/sprite.png) no-repeat -723px -204px;
    }
    .zy_nav ul{
        width:100%;
    }
    .zy_featured_articles li .excerpt{
        height: 126px;
    }
}

@media screen and (max-width: 970px){
    .zy_list_container{
        width:80%
    }
}
/*wechat*/
@media screen and (max-width: 640px){
    .zy_nav.active{
        width: 320px;
    }
    .zy_featured_articles{
        width:90%;
    }
    
    .zy_featured_articles li .excerpt{
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .zy_list_container{
        width: 90%;
    }
    
    
    
    .zy_article_content{
        overflow-x: hidden;
        overflow-y: auto;
        width:100%;
        padding:30px 20px;
    }
    .zy_landscape_heading,.zy_people_heading,.zy_artifact_heading,.zy_community_heading{
        width:320px;
    }
    
    .zy_landscape_article>.zy_article_abstract{
        padding: 10px;
    }
    .zy_landscape_article>.zy_article_abstract h2{
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .zy_artifact_article>.zy_article_abstract{
        padding: 10px;
    }
    .zy_artifact_article>.zy_article_abstract h2{
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .zy_landscape_article .zy_article_excerpt{
        display: none;
    }
    .zy_artifact_article .zy_article_excerpt{
        display: none;
    }
    .zy_project_info{
        width:90%;
    }
    .zy_project_sponsors{
        width:90%;
    }
/*    幻灯片模式*/
    .article-main-slide{
        height: auto;
    }
    .article-title-slide{
        width: auto;
    }
    .article-main-slide p{
        font-size: 18px;
    }
    .article-abstract-slide{
        width: auto;
    }
    .allslides-slide{
        position:static;
        width: auto;
        white-space: normal;
    }
    .slide-slide{
        width:100%;
        font-size: 0;
        margin-bottom: 20px;
    }
    .slide-slide a{
        width: 100%;
    }
    .slide-slide img{
        width: 100%;
    }
    .imgcaption-slide{
        position: static;
    }
    
/*    图文模式*/
    .article-main-post{
        position: static;
    }
    .article-poster-post{
        display: none;
    }
    .article-head-post{
        position: static;
        padding:0;
        width: auto;
    }
    .article-content-post{
        position: static;
        column-gap:normal;
        column-width:auto;
        padding: 30px 0;
    }
    .article-content-post p span{
        font-size: 18px !important;
    }
}

