.zy_section_type4 {
    position: relative;
    z-index: 1;
}
/*--z-index:1--*/
.zy_section_type4 .zy_heading {
    font-size: 0;
    text-indent: -9999px;
    background: url(../../images/apps/sprite.png) no-repeat -1380px -396px;
    width: 635px;
    height: 170px;
    position: absolute;
    top: 275px;
    left: 50%;
    margin-left: -317.5px;
    z-index: 1;
}

.zy_section_type4 .zy_bg_bottom {
    min-width: 1280px;
    width: 100%;
    height: 685px;
    background: url(../../images/apps/community_bottom.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0px;
    bottom: -200px;
}

.zy_section_type4 .zy_subheading {
    background: url(../../images/apps/sprite.png) no-repeat -1008px -473px;
    width: 345px;
    height: 160px;
    font-size: 0px;
    margin: 30px auto;
}

.zy_section_type4 .zy_contain{
    width: 100%;
    height: 1100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../../images/default_bg/bg_community.jpg) no-repeat;
    background-size: 100% 100%;
    /* margin-top: 360px;*/
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 8;
    padding: 5px 5px 10px 5px;
}
