.zy_section_type3 {
    position: relative;
    z-index: 2;
}

/*--z-index:1--*/
.zy_section_type3  .zy_heading {
    font-size: 0;
    text-indent: -9999px;
    background: url(../../images/apps/sprite.png) no-repeat -1355px -568px;
    width: 685px;
    height: 180px;
    position: absolute;
    top: 260px;
    left: 50%;
    margin-left: -342.5px;
    z-index: 1;
}

.zy_section_type3  .zy_bg_left {
    width: 125px;
    height: 345px;
    background: url(../../images/apps/sprite.png) no-repeat -596px -2px;
    position: absolute;
    left: 100px;
    top: 150px;
}

.zy_section_type3 .zy_bg_bottom {
    width: 505px;
    height: 190px;
    background: url(../../images/apps/sprite.png) no-repeat -1522px -204px;
    position: absolute;
    left: 50%;
    margin-left: -252.5px;
    bottom: -60px;
}

.zy_section_type3 .zy_subheading {
    background: url(../../images/apps/sprite.png) no-repeat -1707px -2px;
    width: 320px;
    height: 160px;
    font-size: 0px;
    margin: 30px auto;
}

.zy_section_type3 .zy_contain .zy_list_container {
    height: 440px;
}

.zy_section_type3 .zy_contain{
    width: 100%;
    height: 800px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../../images/default_bg/bg_artifact.jpg) no-repeat;
    background-size: 100% 100%;
    /* margin-top: 360px;*/
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 8;
}
