/*-------------------响应式-------------------------*/
@media screen and (max-width: 1100px) {
    .zy_project_sponsors li{
        padding:5px 0px 5px 0px;
    }
    .zy_project_sponsors ul li:first-child{
        border-bottom:1px solid #444;
        border-right: none;
    }
    .zy_featured_articles .abstract{
        padding:10px;
    }
    .zy_featured_articles li{
        margin:0 1%;
        width:31.3%;
    }
    .zy_featured_articles li .date{
        top:10px
    }

}

@media screen and (max-width: 1100px) {
    .zy_nav ul{
        width:100%;
    }
}

@media screen and (min-width: 1900px) {

    .zy_featured_articles li .title{
        text-align: center;
    }
}

@media screen and (min-width: 2150px) {
    .zy_featured_articles li .title{
        display: none;
    }
}