/*--音乐播放器,z-index：100--*/
.zy_music_section{
    position:fixed;
    top:0px;
    right: 0px;
    height: 50px;
    width: 50px;/*初始值为右边显示按钮的宽度*/
    z-index: 100;
}
.zy_player{
    margin-right: 50px;
    height: 100%;
    background: #cb2f3b;
    position: relative;
    /*-webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    transition: 2s ease;*/
}
.zy_music_title{
    text-align:center;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 0px 10%;
    color:#fff;
    display: inline-block;
    height: 100%;
    line-height: 50px;

}
.zy_music_controller{
    width: 30%;
    height: 100%;
    position: absolute;
    top:0px;
    right: 4px;
    text-align: center;
    line-height: 50px;
}
.zy_music_controller a{
    display: inline-block;
    height: 14px;
    font-size: 0px;
    cursor: pointer;
    margin: 0px 5%;
    vertical-align: middle;
}
.zy_music_prev{
    width: 20px;
    background: url(../../images/apps/sprite.png) no-repeat -1574px -917px;
}
.zy_music_play{
    width: 10px;
    background: url(../../images/apps/sprite.png) no-repeat -1198px -1006px;
}
.zy_music_pause{
    width: 14px;
    height: 12px;
    background: url(../../images/apps/sprite.png) no-repeat -1758px -871px;
}
.zy_music_next{
    width: 20px;
    background: url(../../images/apps/sprite.png) no-repeat -2018px -2px;
}
.zy_music_prev:hover{
    width: 20px;
    background: url(../../images/apps/sprite.png) no-repeat -2px -1005px;
}
.zy_music_play:hover{
    background: url(../../images/apps/sprite.png) no-repeat -698px -972px;
}
.zy_music_pause:hover{
    width: 14px;
    height: 12px;
    background: url(../../images/apps/sprite.png) no-repeat -1998px -57px;
}
.zy_music_next:hover{
    width: 20px;
    background: url(../../images/apps/sprite.png) no-repeat -1683px -679px;
}
.zy_separate{
    display: block;
    height: 30px;
    position: absolute;
    margin-top: 10px;
    top:0px;
    right: 0px;
    font-size: 0px;
    width: 1px;
    background: #fff;
}
.zy_music_show{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom:0px;
    right: 0px;
    background: url(../../images/apps/music_entrance.png) no-repeat;
    cursor:pointer;
}
.zy_music_show.zy_music_show_play{
    background: url(../../images/apps/music_entrance.gif) no-repeat;
}
.zy_music_timeline{
    width: 0%;
    background:#fff;
    height:4px;
    position: absolute;
    bottom: 0px;
    font-size: 0px;
}
