/*-----------------------------------------------------------------------------社区z-index:1--*/
.zy_community{
    position:relative;
    z-index:1;
}
.zy_community .zy_section_bg{
    height: 840px;
}
.zy_community .zy_theme_bg_content{
    min-height: 840px;
}
.zy_community_top_bg:before{
    content:"";
    background: url(../../images/apps/mask_community_top.png) no-repeat;
    background-size: cover;
    width:176px;
    height: 306px;
    position: absolute;
    top:0px;
    right:-175px;
    z-index: 11;
}
.zy_community_top_bg{
    background: #fff;
    height: 100px;
    position: absolute;
    right: 175px;
    width: 100%;
    z-index:8;
}
/*--z-index:1--*/
.zy_community_heading{
    font-size:0;
    text-indent:-9999px;
    background:url(../../images/apps/sprite.png) no-repeat -430px -422px;
    width:426px;
    height:336px;
    position:absolute;
    top:235px;
    left:50%;
    margin-left:-213px;
    z-index:1;
}
.zy_community>.zy_subheading{
    top:686px;
}
/*--z-index:11--*/
.zy_community_bottom_bg:after{
    content: "";
    background: url(../../images/apps/mask_community_bottom.png) no-repeat;
    background-size: cover;
    width:176px;
    height:200px;
    position: absolute;
    bottom:0px;
    left:-175px;
    z-index: 11;
}
.zy_community_bottom_bg{
    background: #fff;
    height: 120px;
    position: absolute;
    top:720px;
    left: 175px;
    width: 100%;
    z-index:8;
}
