@charset "utf-8";

body{
    font-family: "宋体","Microsoft YaHei","Heiti SC";
    margin: 0;
    min-width: 730px;
    padding-top: 55px;
   /* overflow-x:hidden;*/
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
    display: inline-block;
}
img{border:none;}
a{
    text-decoration: none;
}
/*所有开始不显示的类*/
.zy_hidden,.zy_disable{
    display: none;
}
.hasVideo:before{
    content:"";
    background: url(../../images/apps/hasvideo.png) no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0px;
    top:0px;
}
.zy_touch_hscroll{
    overflow:auto !important;
    overflow-x:scroll !important;
    overflow-y:hidden !important;
    -webkit-overflow-scrolling: touch;
}

/*背景固定*/
.zy_bg_fixed {
	position: fixed !important;
	top: 90px;
	left: 0;
}
.zy_main_wrapper{
    overflow: hidden;
}

/*--logo--*/
.zy_top_post{
    position:relative;
    width:100%;
    overflow:hidden;
    z-index:1;
}
.zy_top_post_poster{
    width: 100%;
    font-size:0;
    height:720px;
    position:relative;
    background:#ccc;
    overflow: hidden;
}

/*--顶部栏--*/
.zy_header{
    height: 55px;
    width: 100%;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 100;
    background: #e7465a;
}
/**
* logo
*/
.zy_logo{
    float: left;
    height: 100%;
    margin:0 0 0 5%;
}
.zy_logo a{
    font-size: 0px;
    width: 236px;
    height: 100%;
    display: block;
    background-image: -webkit-image-set(url(../../images/apps/logo.png) 1x,url(../../images/apps/logo@2x.png) 2x);
}
/**
* 菜单栏
*/
.zy_nav{
   float: right;
    margin-right: 5%;
}
.zy_nav ul{
    text-align: center;
    height: 100%;
    font-size: 0px;
}
.zy_nav ul li{
    padding:0px 20px;
}
.zy_nav ul li a{
    font-family: "黑体";
    display: block;
    font-size: 24px;
    line-height: 55px;
    color:#fff;
}
.zy_nav ul li a:hover,.zy_nav ul li a.active{
    color:#000;
}


/*--推荐文章z-index:5--*/
.zy_featured{
    width: 100%;
    height: 800px;
    background: #fff;
    position:relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    z-index:5;
}
.zy_featured:before{
    content:"";
    width: 100%;
    height: 400px;
    background-image: -webkit-image-set(url(../../images/apps/featured_top.png) 1x,
    url(../../images/apps/featured_top@2x.png) 2x);
    background-size: cover;
    position: absolute;
    top:-400px;
}
.zy_featured_heading{
    background-image: -webkit-image-set(url(../../images/apps/title_artifact.png) 1x,
        url(../../images/apps/title_artifact@2x.png) 2x);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 192px;
    font-size: 0;
    position: relative;
    top:-100px;
}
.zy_featured_articles{
    padding:10px 0;
    text-align:center;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
}
.zy_featured_articles li{
    display:inline;
    list-style:none;
}
.zy_featured_articles .abstract{
    display:inline-block;
    margin:0 1%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    width:20%;
    height:460px;
    background:#fff;
    cursor:pointer;
    position:relative;
    vertical-align: top;
    box-shadow: 0px 0px 5px #444;
    -webkit-box-shadow: 0px 0px 5px #444;
    -moz-box-shadow: 0px 0px 5px #444;
    -ms-box-shadow: 0px 0px 5px #444;
}
.zy_featured_articles li .thumb img{
    width:100%;
}
.zy_featured_articles li .title{
    font-family: "Microsoft YaHei";
    width:100%;
    font-size:24px;
    overflow:hidden;
    font-weight: bold;
    color:#333;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding:20px;
    box-sizing: border-box;
}
.zy_featured_articles li .excerpt{
    text-align: left;
    color:#666;
    height: 6em;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5em;
    margin: 10px 20px;
    padding-top: 20px;
    border-top:1px solid #ccc;
}

/*-----------------------------------------------------印象、物语、小结统一的副标题z-index:12--*/
/*主题背景*/
.zy_section_bg{
    height:720px;
    overflow:hidden;
    font-size:0;
    width:100%;
    position:relative;
	z-index:1;
}
.zy_theme_bg_content{
	position:absolute;
	top:0;
	min-width: 100%;
	min-height: 720px;
	opacity:0;
	-webkit-transition:opacity 1s;
	-moz-transition:opacity 1s;
	-ms-transition:opacity 1s;
	transition:opacity 1s;
	}
.zy_theme_bg_default{
	opacity:1;
	}
/*向前向后两个按钮*/
.zy_contain_prev,.zy_contain_next{
    position: absolute;
    width: 50px;
    height: 50px;
    top:50%;
    margin-top:50px;
    z-index: 1;
    font-size:0;
    text-indent:-9999px;
    cursor:pointer;
    opacity: 0;
    -webkit-transition:opacity 0.4s ease-out;
    -moz-transition:opacity 0.4s ease-out;
    -ms-transition:opacity 0.4s ease-out;
    transition:opacity 0.4s ease-out;
}
.zy_contain_prev{
    background: url(../../images/apps/sprite.png) no-repeat -1094px -839px;
    left:0;
}
.zy_contain_next{
    background: url(../../images/apps/sprite.png) no-repeat -968px -787px;
    right: 0;
}
.zy_contain_prev:hover{
    background: url(../../images/apps/sprite.png) no-repeat -1146px -839px;
}
.zy_contain_next:hover{
    background: url(../../images/apps/sprite.png) no-repeat -886px -807px;
}
/*水平滑动窗口布局容器*/
.zy_list_container{
    position: relative;
    margin: auto;
    height: 500px;
    overflow: hidden;
}

/*-------------------------------------------------------------------------风景z-index:4--*/
.zy_landscape{
    position:relative;
    z-index:4;
}
/*--z-index:1--*/
.zy_landscape_heading{
    font-size:0;
    background-image: -webkit-image-set(url(../../images/apps/slogan_landscape.png) 1x,
        url(../../images/apps/slogan_landscape@2x.png) 2x);
    width:108px;
    height:186px;
    position:absolute;
    top:270px;
    left:50%;
    margin-left:-54px;
    z-index:1;
}
.zy_landscape .zy_subheading{
    background-image: -webkit-image-set(url(../../images/apps/title_landscape.png) 1x,
        url(../../images/apps/title_landscape@2x.png) 2x);
    width: 558px;
    height: 198px;
    font-size: 0px;
    margin: 30px auto;
}
.zy_landscape_contain{
    width: 100%;
    height:800px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
	z-index:8;
    background: #fff;
}
.zy_landscape_contain>.zy_list_container{
    height: 600px;
}

.zy_landscape_list,.zy_people_list,.zy_artifact_list,.zy_community_list{
    margin:0;
    height:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    font-size:0;
    position: absolute;
    left: 0;
    padding:20px 0px;
}
.zy_landscape_article,.zy_artifact_article{
    display: inline-block;
    width: 300px;
    height: 300px;
    white-space: normal;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    margin:0 10px;
    position:relative;
    overflow:hidden;
    cursor:pointer;
}
.zy_landscape_article>.zy_article_thumb,.zy_artifact_article>.zy_article_thumb{
    width:300px;
    height:300px;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
}
.zy_landscape_article>.zy_article_thumb img,.zy_artifact_article>.zy_article_thumb img{
    width:100%;
}
.zy_landscape_article>.zy_article_abstract,.zy_artifact_article>.zy_article_abstract{
    width:100%;
    height:300px;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    padding:20px 20px 30px 20px;
    background:#fff;
    opacity: .95;
    position:absolute;
    top:300px;
    left:0;
    -webkit-transition:all 0.4s ease-out;
    -moz-transition:all 0.4s ease-out;
    -ms-transition:all 0.4s ease-out;
    transition:all 0.4s ease-out;
}
.zy_landscape_article:hover>.zy_article_abstract,.zy_artifact_article:hover>.zy_article_abstract{
    top:0;
}
.zy_landscape_article>.zy_article_abstract h2,.zy_artifact_article>.zy_article_abstract h2{
    font-family: "Microsoft YaHei";
    font-size:24px;
    text-align:center;
    color:#333;
    font-weight: bold;
}
.zy_landscape_article>.zy_article_abstract p,.zy_artifact_article>.zy_article_abstract p{
    font-size:14px;
    line-height:2em;
    margin:auto;
    color:#333;
    width:260px;
    height: 10em;
    overflow: hidden;
}
.zy_landscape_article>.zy_article_abstract p.zy_article_date,.zy_artifact_article>.zy_article_abstract p.zy_article_date{
    font-size:12px;
    border-top:#333 1px solid;
    padding-top:8px;
    position:static;
    text-align:center;
    width:260px;
    margin:auto;
    display:block;
    color:#000;
    height: auto;
}


/*----------------------------------------------------------------------------人文z-index:3--*/
.zy_people{
    position:relative;
    z-index:3;

}
/*--z-index:1--*/
.zy_people_heading{
    font-size:0;
    background-image: -webkit-image-set(url(../../images/apps/slogan_humanity.png) 1x,
        url(../../images/apps/slogan_humanity@2x.png) 2x);
    width:108px;
    height:185px;
    position:absolute;
    top:300px;
    left:50%;
    margin-left:-54px;
    z-index:1;
}
.zy_people .zy_subheading{
    background-image: -webkit-image-set(url(../../images/apps/title_humanity.png) 1x,
        url(../../images/apps/title_humanity@2x.png) 2x);
    width: 524px;
    height: 199px;
    font-size: 0px;
    margin: 30px auto;
    position: relative;
}
.zy_people_contain:before{
    content:"";
    width: 100%;
    height: 419px;
    background-image: -webkit-image-set(url(../../images/apps/humanity_top.png) 1x,
    url(../../images/apps/humanity_top@2x.png) 2x);
    background-size: cover;
    position: absolute;
    top:-200px;
}
/*---------人文和社区共用部分--------*/
.zy_people_contain,.zy_community_contain{
    width: 100%;
    height: 800px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    background: #fff;
    background-size: 100% 100%;
    /* margin-top: 360px;*/
    white-space: nowrap;
    position: relative;
	z-index:8;
}
.zy_people_article,.zy_community_article{
    display: inline-block;
    width: 240px;
    height: 100%;
    white-space: normal;
    border-right:#666 1px solid;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 20px;
    position:relative;
    cursor:pointer;
}
.zy_people_article>.zy_article_thumb,.zy_community_article>.zy_article_thumb{
    width:200px;
    height:200px;
    overflow:hidden;
    position:absolute;
    top:0;
}
.zy_people_article>.zy_article_thumb img,.zy_community_article>.zy_article_thumb img{
    width:100%;
}
.zy_people_article>.zy_article_abstract,.zy_community_article>.zy_article_abstract{
    width:200px;
    height:240px;
    text-align:center;
    position:absolute;
    bottom:0;
    overflow:hidden;
    color:#666;
}
.zy_people_article>.zy_article_abstract h2,.zy_community_article>.zy_article_abstract h2{
    font-family: "Microsoft YaHei";
    font-size:24px;
    color:#b4a797;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.zy_people_article>.zy_article_abstract p,.zy_community_article>.zy_article_abstract p{
    font-size:12px;
    line-height:2em;
    margin:5px 0;
    color:#b4a797;
    height: 96px;
    overflow: hidden;
}
.zy_people_article>.zy_article_abstract p.zy_article_date,.zy_community_article>.zy_article_abstract p.zy_article_date{
    font-size:12px;
    border-top:#666 1px solid;
    padding-top:8px;
    height: auto;
}
.zy_people_article:nth-child(2n)>.zy_article_thumb,.zy_community_article:nth-child(2n)>.zy_article_thumb{
    bottom:0;
    top:auto;
}
.zy_people_article:nth-child(2n)>.zy_article_abstract,.zy_community_article:nth-child(2n)>.zy_article_abstract{
    top:0;
    height:240px;
}

/*------------------------------------------------------------------------物语z-index:2--*/
.zy_artifact{
    position:relative;
    z-index:2;
}
/*--z-index:1--*/
.zy_artifact_heading{
    font-size:0;
    background-image: -webkit-image-set(url(../../images/apps/slogan_artifact.png) 1x,
    url(../../images/apps/slogan_artifact@2x.png) 2x);
    width:108px;
    height:186px;
    position:absolute;
    top:260px;
    left:50%;
    margin-left:-54px;
    z-index:1;
}
.zy_artifact .zy_subheading{
    background-image: -webkit-image-set(url(../../images/apps/title_artifact.png) 1x,
    url(../../images/apps/title_artifact@2x.png) 2x);
    width: 467px;
    height: 192px;
    font-size: 0px;
    margin: 30px auto;
    position: relative;
}
.zy_artifact_contain>.zy_list_container{
    height: 440px;
}
.zy_artifact_contain{
    width: 100%;
    height: 800px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    background: #fff;
    white-space: nowrap;
    position: relative;
	z-index:8;
}
.zy_artifact_contain:before{
    content:"";
    width: 100%;
    height: 396px;
    background-image: -webkit-image-set(url(../../images/apps/artifact_top.png) 1x,
    url(../../images/apps/artifact_top.png) 2x);
    background-size: cover;
    position: absolute;
    top:-200px;
}
.zy_artifact_contain .zy_contain_prev,.zy_artifact_contain .zy_contain_next{
    margin-top: -10px;
}



/*-----------------------------------------------------------------------------社区z-index:1--*/
.zy_community{
    position:relative;
    z-index:1;
}
.zy_community_contain{
    background: #fff;
    padding-top: 20px;
}
/*--z-index:1--*/
.zy_community_heading{
    font-size:0;
    text-indent:-9999px;
    background-image: -webkit-image-set(url(../../images/apps/slogan_community.png) 1x,
        url(../../images/apps/slogan_community@2x.png) 2x);
    width:108px;
    height:185px;
    position:absolute;
    top:275px;
    left:50%;
    margin-left:-54px;
    z-index:1;
}
.zy_community .zy_subheading{
    background-image: -webkit-image-set(url(../../images/apps/title_community.png) 1x,
        url(../../images/apps/title_community@2x.png) 2x);
    width: 606px;
    height: 199px;
    font-size: 0px;
    margin: 30px auto;
}
.zy_community_contain .zy_contain_next,.zy_community_contain .zy_contain_prev{
    top:35%;
}


/*------------------------------------footer部分--------------------------*/
.zy_footer{
    width: 100%;
    background-color: #fff;
    position: relative;
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

.zy_project{
    height: auto;
    padding:100px 0px 50px 0px;
    background-size: 100% 100%;
    text-align: center;
}
.zy_project_info{
	width:40%;
	position:relative;
	padding:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
    display: inline-block;
    vertical-align: top;
}
.zy_project_title{
	height:40px;
    width: 140px;
	font-size:0;
	text-indent:-9999px;
	background:url(../../images/apps/sprite.png) no-repeat -1380px -321px;
	margin:auto;
}
.zy_project_info p{
    color: #a2a1a1;
    font-size: 14px;
    line-height: 2em;
}
.zy_project_sponsors{
    width: 35%;
    display: inline-block;
    position: relative;
}
.zy_project_sponsors ul{
    margin: auto;
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 0px;
}
.zy_project_sponsors ul li{
    display: block;
}
.zy_project_sponsors .zy_logo_mkmj,.zy_project_sponsors .zy_logo_hnusd{
	width:179px;
	height:171px;
	font-size:0;
	text-indent:-9999px;
	margin:auto;
	display:block;
}
.zy_project_sponsors .zy_logo_mkmj{
    background-image: -webkit-image-set(url(../../images/apps/logo_markor.png) 1x,
    url(../../images/apps/logo_markor@2x.png) 2x);
}
.zy_project_sponsors .zy_logo_hnusd{
    background-image: -webkit-image-set(url(../../images/apps/logo_hnu.png) 1x,
    url(../../images/apps/logo_hnu@2x.png) 2x);
    width:194px;
    height:69px;
    margin-top: 30px;
}
.zy_copyright{
    background-size: 100% auto;
	padding:50px 0;
	text-align:center;
	color:#666;
	font-size:0.7em;
	}

/*-----------------------------------------------------------显示视频(从这里开始很多项目共用）----------*/
.zy_wrap{
    position:fixed;
    top:0;
    left: 0;
	width:100%;
	height:100%;
    background: #000;
    opacity: .7;
    z-index: 9996;
}
.zy_show_section{	
	z-index: 9999;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
}
.zy_show_close{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
	cursor:pointer;
    background: url(../../images/apps/sprite.png) no-repeat -938px -891px;
}
.zy_show_close:hover{
    background: url(../../images/apps/sprite.png) no-repeat -886px -911px;
}

/*--------------显示文章z-index:9997--------------*/
.zy_article_container{
	position: fixed;
    left:100%;
	top:0;
    z-index: 9997;
    width: 100%;
    height:100%;
    margin: auto;
}
/*popout_win*/
.zy_popout_win{
	width:640px;
	height:200px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	background:url(../../images/apps/sprite.png) no-repeat -723px -2px;
	padding:20px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-100px 0 0 -320px;
	z-index:10001;
	text-align:center;	
	overflow:hidden;
	}
.zy_popout_win>.zy_popout_title{
	color:#fff;
	}
.zy_popout_win>.zy_popout_btn{
	background:#fff;
	padding:8px;
	width:120px;
	display:block;
	position:absolute;
	bottom:30px;
	left:50%;	
	margin-left:-60px;
	color:#ca2e3a;
	font-weight:bold;
	cursor:pointer;
	}
.zy_popout_win>.zy_popout_btn:hover{
	background:#1a1a1a;
	}

/*---------------------loadingSpinner-------------------*/
/*动画定义*/
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(360deg);
    }
    100%{
        -webkit-transform:rotate(0deg);
    }
}
@-moz-keyframes spin{
    0%{
        -moz-transform:rotate(360deg);
    }
    100%{
        -moz-transform:rotate(0deg);
    }
}
@keyframes spin{
    0%{
        transform:rotate(360deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

.zy_loading_spinner{
	position:absolute;
	top:50%;
	left:50%;
}
.zy_loading_spinner_layer{
    width: 50px;
    height: 50px;
    background: url(../../images/apps/sprite.png) no-repeat -1042px -839px;
    -webkit-animation: spin 4s infinite linear reverse;
    -moz-animation: spin 4s infinite linear reverse;
    animation: spin 4s infinite linear reverse;
    position:absolute;
    top:50%;
    left:50%;
    margin:-25px 0 0 -25px;
}
.zy_article_content{
    background: #fff;
    width: 100%;
    position:absolute;
	top:50px;
	bottom:0;
    overflow-x: auto;
	overflow-y:hidden;
	padding:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
/* 设置滚动条的样式 */
.zy_article_content::-webkit-scrollbar {
    height: 8px;
}
/* 滚动槽 */
.zy_article_content::-webkit-scrollbar-track {
    background:#1a1a1a;
}
/* 滚动条滑块 */
.zy_article_content::-webkit-scrollbar-thumb {
    background: #ca2e3a;
}
.zy_article_content_close{
	cursor:pointer;
    width: 50px;
    height: 50px;
    display: block;
    background: url(../../images/apps/sprite.png) no-repeat -990px -891px;
}
.zy_article_content_close:hover{
    background: url(../../images/apps/sprite.png) no-repeat -1042px -891px;
}
.zy_show_load_container{
	width:100%;
	text-align:center;
	position: absolute;
	top: 50px;
	bottom: 0;
	overflow-y: auto;
	}
/* 设置滚动条的样式 */
.zy_show_load_container::-webkit-scrollbar {
    width: 8px;
}
/* 滚动槽 */
.zy_show_load_container::-webkit-scrollbar-track {
    background:#1a1a1a;
}
/* 滚动条滑块 */
.zy_show_load_container::-webkit-scrollbar-thumb {
    background: #ca2e3a;
}
.zy_show_load_container img{
	margin:auto;
	max-width:100%;
	}
.zy_show_load_container video{max-width:100%;margin:auto;}

/*图文混排展示模版*/
.article-main-post{
    -webkit-box-sizing:	border-box;
    -ms-box-sizing:	border-box;
    -moz-box-sizing:border-box;
    box-sizing:	border-box;
    height:100%;
    position:relative;
    top:0;
    bottom:0;
    width:100%;
}
.article-head-post{
    position:absolute;
    bottom:0;
    left:250px;
    z-index:3;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
    box-sizing:border-box;
    padding:20px;
    background:#fff;
    width:300px;
}
.article-head-post h1{
    padding:0;
	margin:0;
    font-family: "Microsoft YaHei";
}
.article-title-post{
    font-size:36px;
    color:#666;
    width:auto;
    padding-left:25px;
    padding-right:25px;
    padding-top:15px;
}
.article-author-post, .article-category-post,.article-time-post{
    color:#666;
    font-size:16px;
    font-weight:normal;
    display:inline-block;
}
.article-author-post{
    padding-right:10px;
}
.article-category-post{
    padding:0 10px;
    border-left:#666 1px solid;
}
.article-time-post{
    padding:0 10px;
    border-left:#666 1px solid;
}
.article-poster-post{
    /*position:absolute;
     left:0;
     top:0;
     bottom:0;*/
    height:100%;
    font-size:0;
}
.article-poster-post img{
    height:100%;
}

.article-content-post{
    background:#fff;
    color: #666666;
    font-size:16px;
    position:absolute;
    top:0;
    left:540px;
    right:0px;
    width:100%;
    bottom:150px;
    height: 100%;
    padding:0 0 20px 40px;
    -webkit-column-gap:40px;
    -webkit-column-width:260px;
    -moz-column-gap:40px;
    -moz-column-width:260px;
    column-gap:40px;
    column-width:260px;
    line-height:2em;
    letter-spacing:2px;
    z-index:10;

}
.article-content-post::first-letter{
    display:inline-block;
    font-size:32px;
    color:#ca2e3a;
}
.article-content-post img{
    width:100%;
}
.article-content-post p{
	margin:0 10px;
	}
.article-content-post figcaption{
	color:#ca2e3a;
	font-size:12px;
	font-style:italic;
	line-height:1.4em;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
    text-align: center;
	}
.videoslide{
    text-indent:0;
    display:inline-block;
    position:relative;
	max-width:100%;
}
.videoslide:before
{
    content:"";
    background:url(../../images/apps/sprite.png) no-repeat  -886px -621px;
    width:80px;
    height:80px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-40px 0 0 -40px;
}

/*幻灯片模版展示*/
.article-main-slide{
    background:#fff;
    height:540px;
    position:relative;
}
.article-main-slide p{
    font-size:14px;

}
.article-title-slide{
    color:#666;
    width:300px;
    font-size:36px;
    margin-top:0;
	font-family:"微软雅黑";
}

.article-author-slide, .article-category-slide{
    color:#666;
    width:300px;
    line-height:10px;
    font-size:16px;
    font-weight:normal;
}
.article-author-slide{
    border-bottom:#666 1px solid;
    padding-bottom:10px;
    margin-bottom:10px;
}
.article-abstract-slide{
    margin-top:2em;
    font-size:18px;
    color:#666;
    width:300px;
    line-height:1.5em;
}
.article-abstract-slide::first-letter{
    display:inline-block;
    font-size:32px;
    color:#ca2e3a;
}
.allslides-slide{
    display:block;
    position:absolute;
    left:360px;
    top:0;
    height:540px;
    width:auto;
    white-space: nowrap;
}
.slide-slide{
    display: inline-block;
    height:100%;
    position:relative;
}
.slide-slide img{
    height:100%;
    width:auto;
}
.slide-slide a{
    display:inline-block;
    height:100%;
}
.imgcaption-slide{
    background-color:#000;
    width:100%;
    opacity: 0.7;
    position:absolute;
    bottom:0;
    left:0;
    color:#fff;
    font-size:16px;
    line-height: 24px;
    padding:10px;
	white-space: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;	
	box-sizing: border-box;
}
.imgcaption-slide span{
    font-size: 21px;
}

/*-------------------响应式-------------------------*/
@media screen and (max-width: 1100px) {
    .zy_project_sponsors li{
        padding:5px 0px 5px 0px;
    }
    .zy_project_sponsors ul li:first-child{
        border-bottom:1px solid #444;
        border-right: none;
    }
    .zy_bottom_logo a{
        width:240px;
        height: 140px;
        background: url(../../images/apps/sprite.png) no-repeat -723px -204px;
    }
    .zy_nav ul{
        width:100%;
    }
    .zy_featured_articles li .excerpt{
        height: 126px;
    }
}
@media screen and (min-width: 1900px) {
    .zy_featured_articles li .excerpt{
        display: none;
    }   
}

@media screen and (min-width: 2150px) {
    .zy_featured_articles li .title{
        display: none;
    }
}
