/*---------------------loadingSpinner-------------------*/
/*动画定义*/
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(360deg);
    }
    100%{
        -webkit-transform:rotate(0deg);
    }
}
@-moz-keyframes spin{
    0%{
        -moz-transform:rotate(360deg);
    }
    100%{
        -moz-transform:rotate(0deg);
    }
}
@keyframes spin{
    0%{
        transform:rotate(360deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

.zy_loading_spinner{
    position:absolute;
    top:50%;
    left:50%;
}
.zy_loading_spinner_layer{
    width: 50px;
    height: 50px;
    background: url(../../images/apps/loading.png) no-repeat;
    -webkit-animation: spin 4s infinite linear reverse;
    -moz-animation: spin 4s infinite linear reverse;
    animation: spin 4s infinite linear reverse;
    position:absolute;
    top:50%;
    left:50%;
    margin:-25px 0 0 -25px;
}