.zy_featured{
    width: 100%;
    height: 600px;
    background: #fff;
    position:relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    z-index:5;
}
.zy_featured:before{
    content: "";
    width: 100%;
    height: 200px;
    background-image: -webkit-image-set(url(../../images/apps/featured_top.png) 1x, url(../../images/apps/featured_top@2x.png) 2x);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: absolute;
    top: -200px;
}
.zy_featured_heading{
    background-image: url(../../images/apps/title_featured.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 140px;
    font-size: 0;
    position: absolute;
    top:270px;
    left: 12%;
}
.zy_featured_articles{
    font-size: 0;
    text-align:center;
    width:70%;
    margin: auto;
    box-sizing:border-box;
    overflow:hidden;
    border-radius: 40px;
    position: absolute;
    top:-30px;
    left: 50%;
    transform: translateX(-50%);
}
.zy_featured_articles li{
    display:inline-block;
    list-style:none;
    width:50%;
    float: right;
    overflow: hidden;
}
.zy_featured_articles .abstract{
    display:inline-block;
    box-sizing:border-box;
    width:100%;
    height:250px;
    background:#fff;
    cursor:pointer;
    position:relative;
    vertical-align: top;
}
.zy_featured_articles li .thumb{
    perspective: 1000px;

}
.zy_featured_articles li .thumb img{
    width:100%;
    transform: translateZ(0);
    transition: all 0.3s ease-out;
}
.zy_featured_articles li .title{
    font-family: "Microsoft YaHei";
    width:100%;
    height: 50px;
    line-height: 50px;
    font-size:20px;
    overflow:hidden;
    font-weight: bold;
    color:#e7465a;
    background:rgba(255,255,255,0.8);
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding:0 30px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.zy_featured_articles li .excerpt{
    text-align: left;
    color:#666;
    height: 6em;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5em;
    margin: 10px 20px;
    padding-top: 20px;
    border-top:1px solid #ccc;
    display: none;
}
.zy_featured_articles li:hover .thumb img{
    transform: translateZ(100px);
}
.zy_featured_articles li:hover .title{
    transform: translateZ(100px);
    height: 70px;
    line-height: 70px;
    color:#fff;
    background:#e7465a;
}