/*----------------------------------------------------------------------------人文z-index:3--*/
.zy_people{
    position:relative;
    z-index:3;
    font-size: 0;

}
.zy_people::after{
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -100px;
    left: 0;
    background: url(../../images/apps/humanity_bottom.png) no-repeat center;
    background-size: cover;
}
/*
.zy_people_top{
    min-width:1280px;
    width:100%;
    height: 500px;
    background: url(../../images/apps/humanity_top.png) no-repeat center center;
    position: absolute;
    top: -180px;
    left:0px;
}
*/
.zy_people_left{
    width: 200%;
    height: 200px;
    background: url(../../images/apps/humanity_left.png) repeat-x;
    position: absolute;
    left:0px;
    top: 60px;
    transform: translateX(-25%);
    opacity: .3;
}
.zy_people_right{
    width: 200%;
    height: 200px;
    background: url(../../images/apps/humanity_left.png) repeat-x;
    position: absolute;
    right:0px;
    bottom: 60px;
    transform: translateX(25%);
    opacity: .3;
}
/*--z-index:1--*/
.zy_people_heading{
    font-size:0;
    background: url(../../images/apps/title_humanity.png) no-repeat;
    background-size:contain;
    width: 400px;
    height: 200px;
    position:absolute;
    top:200px;
    left:50%;
    transform: translateX(-50%);
    z-index:1;
}
.zy_people .zy_subheading{
    font-size: 0;
}
.zy_people_list{
    height: 450px;
    top:180px;
}
