/*-------------------------------------------------------------------------风景z-index:4--*/
.zy_landscape{
    position:relative;
    z-index:4;
}
/*--z-index:1--*/
.zy_landscape_heading{
    font-size:0;
    background: url(../../images/apps/title_landscape.png) no-repeat;
    background-size:contain;
    width: 400px;
    height: 200px;
    position:absolute;
    top:200px;
    left:50%;
    transform: translateX(-50%);
    z-index:1;
}
.zy_landscape_left{
    width: 200%;
    height: 200px;
    background: url(../../images/apps/landscape_right.png) repeat-x;
    position: absolute;
    left:0px;
    top: 50px;
    transform: translateX(-25%);
}
.zy_landscape_right{
    width: 200%;
    height: 200px;
    background: url(../../images/apps/landscape_right.png) repeat-x;
    position: absolute;
    right:0px;
    bottom: 50px;
    transform: translateX(25%);
}
.zy_landscape .zy_subheading{
    font-size: 0;
}
.zy_landscape_contain{
    width: 100%;
    height:800px;
    box-sizing:border-box;
    background-image: url(../../images/default_bg/bg_artifact.jpg);
    background-size: 100% 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index:8;
}
