@charset "utf-8";

body{
    font-family: "宋体","Microsoft YaHei","Heiti SC";
    margin: 0;
   /* overflow-x:hidden;*/
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
    display: inline-block;
}
img{border:none;}
a{
    text-decoration: none;
}
:link:focus, :visited:focus {
     outline: none; 
}

/*所有开始不显示的类*/
.zy_hidden,.zy_disable{
    display: none !important;
}
.hasVideo:before{
    content:"";
    background: url(../../images/apps/hasvideo.png) no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    top:0px;
}
.zy_touch_hscroll{
    overflow:auto !important;
    overflow-x:scroll !important;
    overflow-y:hidden !important;
    -webkit-overflow-scrolling: touch;
}
.zy_noscroll{
    overflow:hidden !important;
}
/*覆盖swiper样式*/
.swiper-pagination-bullet-active{
    background: #25bf9a;
}

/*背景固定*/
.zy_bg_fixed {
	position: fixed !important;
	top: 90px;
	left: 0;
}
.zy_main_wrapper{
    overflow: hidden;
}

.zy_down{
    display: block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    left:50%;
    bottom:200px;
    background: url(../../images/apps/down.svg);
    transform: translate(-50%,0);
    font-size: 0px;
}

/*--顶部栏--*/
.zy_header{
    height: 60px;
    width: 100%;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 100;
    background: #25bf9a;
}

/*-----------------------------------------------------印象、物语、小结统一的副标题z-index:12--*/
/*主题背景*/
.zy_section_bg{
    height:720px;
    overflow:hidden;
    font-size:0;
    width:100%;
    position:relative;
	z-index:1;
    text-align: center;
}
.zy_theme_bg_content{
	position:absolute;
	top:0;
    left: 50%;
    transform: translateX(-50%);
	min-width: 100%;
	min-height: 720px;
	opacity:0;
	transition:opacity 1s;
	}
.zy_theme_bg_default{
	opacity:1;
	}
/*水平滑动窗口布局容器*/
.zy_list_container{
    position: absolute;
    margin: auto;
    width:960px;
    left:50%;
    top: 60%;
    transform: translate(-50%,-50%);
    padding-bottom: 10%;
}
.zy_nav_btn{
    position: absolute;
    top:50%;
    left:50%;
    width: 80px;
    height: 80px;
    transform: translate(-570px,-50%);
    cursor: pointer;
}
.zy_nav_btn_prev{
    background: url(../../images/apps/nav_btn_prev.svg) no-repeat;
    background-position: right;
    background-size: contain;
}
.zy_nav_btn_next{
    left:inherit;
    right:50%;
    transform: translate(570px,-50%);
    background: url(../../images/apps/nav_btn_next.svg) no-repeat;
    background-position: left;
    background-size: contain;
}