/*-------------------响应式-------------------------*/
@media screen and (min-width: 2150px) {
    .zy_featured_articles li .title{
        display: none;
    }
}
@media screen and (min-width: 1900px) {
    .zy_featured_articles li .excerpt{
        display: none;
    }
}
@media screen and (max-width: 1100px) {
    .zy_project_sponsors li{
        padding:5px 0px 5px 0px;
    }
    .zy_project_sponsors ul li:first-child{
        border-bottom:1px solid #444;
        border-right: none;
    }
    .zy_bottom_logo a{
        width:240px;
        height: 140px;
        background: url(../../images/apps/sprite.png) no-repeat -723px -204px;
    }
    .zy_nav ul{
        width:100%;
    }
}

@media screen and (max-width: 970px){
    .zy_list_container{
        width:80%
    }
}
/*wechat*/
@media screen and (max-width: 640px){
    .zy_nav.active{
        width: 320px;
    }
    .zy_featured_articles{
        width:70%;
        display: block;
    }
    .zy_featured_articles li{
        width: 45%;
        margin: 10% 5% 0 0;
    }
    .zy_featured_articles li:last-child{
        margin: 10% 0 0 5%;
    }
    .zy_featured_articles li:first-child{
        width: 100%;
    }
    .zy_featured_articles li .excerpt{
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .zy_featured_articles li:first-child .excerpt{
        white-space: normal;
        text-overflow:inherit;
    }
    .zy_list_container{
        width: 90%;
    }



    .zy_article_content{
        overflow-x: hidden;
        overflow-y: auto;
        width:100%;
        padding:30px 20px;
    }
    .zy_landscape_heading,.zy_people_heading,.zy_artifact_heading,.zy_community_heading{
        width:320px;
    }

    .zy_landscape_article>.zy_article_abstract{
        padding: 20px;
    }

    .zy_artifact_article>.zy_article_abstract{
        padding: 20px;
    }
    .zy_project_info{
        width:90%;
    }
    .zy_project_sponsors{
        width:90%;
    }
    /*    幻灯片模式*/
    .article-main-slide{
        height: auto;
    }
    .article-title-slide{
        width: auto;
    }
    .article-author-slide, .article-category-slide{
        width:auto;
    }
    .article-main-slide p{
        font-size: 18px;
    }
    .article-abstract-slide{
        width: auto;
    }
    .allslides-slide{
        position:static;
        width: auto;
        white-space: normal;
    }
    .slide-slide{
        width:100%;
        font-size: 0;
        margin-bottom: 20px;
    }
    .slide-slide a{
        width: 100%;
    }
    .slide-slide img{
        width: 100%;
    }
    .imgcaption-slide{
        position: static;
    }

    /*    图文模式*/
    .article-main-post{
        position: static;
    }
    .article-poster-post{
        display: none;
    }
    .article-head-post{
        position: static;
        padding:0;
        width: auto;
    }
    .article-content-post{
        position: static;
        column-gap:normal;
        column-width:auto;
        padding: 30px 0;
    }
    .article-content-post p span{
        font-size: 18px !important;
    }
}