


/*--推荐文章z-index:5--*/
.zy_featured{
    width: 100%;
    height: 720px;
    background-size: contain;
    background: #fff;
    position:relative;
    box-sizing:border-box;
    z-index:5;
}
.zy_featured::before {
    content: "";
    width: 160px;
    height: 80px;
    background-image: url(../../images/apps/featured_top.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.zy_featured .zy_featured_left{
    width: 20%;
    height: 500px;
    background-image: url(../../images/apps/featured_left.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    font-size: 0px;

}
.zy_featured .zy_featured_right{
    width: 20%;
    height: 500px;
    background-image: url(../../images/apps/featured_right.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    font-size: 0px;
}
.zy_featured::after{
    content: "";
    width: 100%;
    height: 100px;
    background-image: url(../../images/apps/section_bottom.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    bottom: -80px;

}
.zy_featured_heading{
    background-image: url(../../images/apps/title_featured.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
    font-size: 0;
    position: absolute;
    top:80px;
    left: 50%;
    transform: translateX(-50%);
}
.zy_featured_articles{
    font-size: 0;
    text-align:center;
    width:80%;
    margin: auto;
    box-sizing:border-box;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.zy_featured_articles li{
    display:inline-block;
    list-style:none;
    flex:4;
    padding:0 10px;
    position: relative;
}
/*.zy_featured_articles li:first-child{
    flex:3;
}
.zy_featured_articles li:last-child{
    flex:3;
}*/
.zy_featured_articles .abstract{
    display:inline-block;
    box-sizing:border-box;
    width:100%;
    overflow: hidden;
    background:#fff;
    cursor:pointer;
    vertical-align: top;
    position: relative;

}
.zy_featured_articles li .thumb{
    perspective: 1000px;

}
.zy_featured_articles li .thumb img{
    width:100%;
    transform: translateZ(0);
    transition: all 0.3s ease-out;
}
.zy_featured_articles li .info{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    width:100%;
    background:rgba(255,255,255,0.9);
    padding:40px 30px;
    box-sizing: border-box;
    overflow:hidden;
    transition: all 0.3s ease-out;
    opacity: 0;
}
.zy_featured_articles li .title{
    font-family: "Microsoft YaHei";
    font-size:24px;
    font-weight: bold;
    color:#333;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    width: 100%;
    overflow: hidden;

    /*
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    */
}
.zy_featured_articles li .excerpt{
    text-align: left;
    color:#666;
    height: 6em;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5em;
    margin: 20px 0;
    padding-top: 20px;
    border-top:1px solid #ccc;
}
.zy_featured_articles li:hover .thumb img{
    transform: translateZ(100px);
}
.zy_featured_articles li:hover .info{
    opacity: 1;
}