

/*----------------------------------------------------------------------------人文z-index:3--*/
.zy_people{
    position:relative;
    z-index:3;

}
.zy_people::after{
    content: "";
    width: 100%;
    height: 100px;
    background-image: url(../../images/apps/section_bottom.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    bottom: -80px;

}
/*--z-index:1--*/
.zy_people_heading{
    font-size:0;
    background-image: url(../../images/apps/slogan_people.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:480px;
    height:320px;
    position:absolute;
    top:200px;
    left:50%;
    transform: translate(-50%,0);
    z-index:1;
}
.zy_people .zy_subheading{
    background-image: url(../../images/apps/title_people.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position: center;
    width: 300px;
    height: 70px;
    font-size: 0px;
    margin: 40px auto 60px;
}
.zy_people_contain:before{
    content:"";
    width: 100%;
    height: 50px;
    background-image: url(../../images/apps/section_top.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-49px;
}
.zy_people_contain{
    width: 100%;
    height: 720px;
    box-sizing:border-box;
    background: #fff;
    background-size: 100% 100%;
    /* margin-top: 360px;*/
    white-space: nowrap;
    position: relative;
    z-index:8;
    padding:1px 0px;
}
.zy_people_contain>.zy_list_container{
    height: 400px;
}
